In [3]:
# https://nittaku.tistory.com/122
''' 계층적 인덱스(Multi Index) - 정렬함수
# 고객 정보를 관리할 때, 고객의 주소를 index로 해서 데이터를 관리한다고 가정하자.
# 가장 큰 계층인 시(군) 부터 작은 계층인 번지까지 하나씩 내려올 것이다. ex> 서울특별시 강남구 삼성로 212
# 이렇게 계층적인 정보를 index로 사용하고 싶을 때, 이를 계층적 인덱스라고 한다.

아래 예처럼 인덱스를 2차원 리스트(2차원 Array)로 주면, 층이 2개([x,x,x,...],[0,1,2,3...])인 Index를 가진다
'''
import pandas as pd
import numpy as np
srs = pd.DataFrame(np.random.rand(10,2),
                columns = ['X','Y'],
               index = 
               [
                   ["a","a","a","b","b","b","c","c","d","d"],
                   [1,2,3,1,2,3,1,2,2,3]
               ])
print(srs.index)  
''' index는 메소드가 아니라, 특징이다!
실제로 Index를 확인해보면 Multiindex라고 나온다 '''

srs

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 2),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

            X         Y
a 1  0.397629  0.627808
  2  0.521607  0.145241
  3  0.530936  0.322897
b 1  0.428611  0.121092
  2  0.118221  0.488087
  3  0.873563  0.051329
c 1  0.080738  0.075986
  2  0.039129  0.696121
d 2  0.201383  0.904913
  3  0.317215  0.022662

In [11]:
srs["b":"b"]

            X         Y
b 1  0.428611  0.121092
  2  0.118221  0.488087
  3  0.873563  0.051329

In [14]:
srs["b":"b"]["1":"2"]

Empty DataFrame
Columns: [X, Y]
Index: []