In [58]:
import pandas as pd
import numpy as np

In [59]:
korea = pd.read_excel('./source/전국 카토그램.xlsx')
korea.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,철원,화천,양구,고성(강원),NaN,NaN,NaN
1,NaN,NaN,NaN,양주,동두천,연천,포천,의정부,인제,춘천,속초,NaN,NaN,NaN
2,NaN,NaN,NaN,파주,고양 일산동,서울 도봉,서울 노원,남양주,홍천,횡성,양양,NaN,NaN,NaN
3,NaN,NaN,NaN,고양 일산서,고양 덕양,서울 강북,서울 성북,가평,구리,하남,정선,강릉,NaN,NaN
4,NaN,NaN,김포,안양 만안,광명,서울 서대문,서울 종로,서울 동대문,서울 중랑,양평,태백,동해,NaN,NaN

## 위 엑셀의 각 칸 별 x,y좌표가 필요하다
- stack() : column index를 raw index로 바꾸어서 세로로 붙임 <br>
원래 행 인덱스가 있었다면 원래 행을 구분하여 붙어서 multi index가 return 
- ubstack() : raw index를 column index로 바꾸어서 가로로 붙임 <br>
원래 열 인덱스가 있었다면 원래 행을 구분하여 붙어서 multi columns가 return

In [60]:
# 원래 행 인덱스가 있었다면 원래 행을 구분하여 붙어서 multi index가 return되기 때문에 0층은 y좌표(원래 행), 1층은 x좌표(원래 열)로 생각할 수 있다.
korea_stacked = pd.DataFrame(korea.stack())
korea_stacked.head()

           0
0 7       철원
  8       화천
  9       양구
  10  고성(강원)
1 3       양주

In [61]:
korea_stacked.reset_index(inplace=True)
korea_stacked.head()

   level_0  level_1       0
0        0        7      철원
1        0        8      화천
2        0        9      양구
3        0       10  고성(강원)
4        1        3      양주

In [62]:
korea_stacked.rename(columns={
    'level_0':'y좌표',
    'level_1':'x좌표',
    0:'ID'
},inplace=True)
draw_korea = korea_stacked.copy()
draw_korea.head()

   y좌표  x좌표      ID
0    0    7      철원
1    0    8      화천
2    0    9      양구
3    0   10  고성(강원)
4    1    3      양주

## 경계선(엑셀 일일히)

In [63]:
border_lines = [
    [
        
    ],
]

In [64]:
import matplotlib.pyplot as plt
import seaborn as sns

import matplotlib as mpl
import matplotlib.pyplot as plt

%matplotlib inline
# 폰트 설정
mpl.rc('font', family='Malgun Gothic')
# 유니코드에서  음수 부호설정
mpl.rc('axes', unicode_minus=False)
# 그래프 크기 고정
plt.rcParams['figure.figsize'] = [10, 10]

## df.iterrows()
- 행과 열 값 꺼내기. 마치 dict.items() 처럼

In [65]:
for i, r in draw_korea.iterrows():
    print(f'i:{i},r:{r}, r_type: {type(r)},{r[0]},{r[1]},{r[2]}')
    if i == 3:
        break

i:0,r:y좌표     0
x좌표     7
ID     철원
Name: 0, dtype: object, r_type: <class 'pandas.core.series.Series'>,0,7,철원
i:1,r:y좌표     0
x좌표     8
ID     화천
Name: 1, dtype: object, r_type: <class 'pandas.core.series.Series'>,0,8,화천
i:2,r:y좌표     0
x좌표     9
ID     양구
Name: 2, dtype: object, r_type: <class 'pandas.core.series.Series'>,0,9,양구
i:3,r:y좌표         0
x좌표        10
ID     고성(강원)
Name: 3, dtype: object, r_type: <class 'pandas.core.series.Series'>,0,10,고성(강원)

In [66]:
for idx, row in draw_korea.iterrows():
    print(row[2])

철원
화천
양구
고성(강원)
양주
동두천
연천
포천
의정부
인제
춘천
속초
파주
고양 일산동
서울 도봉
서울 노원
남양주
홍천
횡성
양양
고양 일산서
고양 덕양
서울 강북
서울 성북
가평
구리
하남
정선
강릉
김포
안양 만안
광명
서울 서대문
서울 종로
서울 동대문
서울 중랑
양평
태백
동해
인천 강화
부천
안양 동안
서울 은평
서울 마포
서울 중구
서울 성동
서울 강동
여주
원주
삼척
인천 서구
인천 동구
시흥
서울 강서
서울 동작
서울 용산
서울 광진
서울 송파
이천
평창
울진
인천 계양
안산 상록
서울 양천
서울 관악
서울 서초
과천
성남 중원
광주
영월
영덕
인천 부평
안산 단원
서울 영등포
서울 금천
서울 강남
성남 분당
성남 수정
용인 수지
문경
봉화
울릉
인천 중구
인천 미추홀
화성
서울 구로
군포
의왕
수원 영통
용인 기흥
용인 처인
안동
영양
인천 옹진
인천 연수
인천 남동
오산
안성
수원 권선
수원 장안
제천
예천
영주
구미
청송
포항 북구
태안
아산
천안 동남
천안 서북
평택
음성
수원 팔달
단양
상주
김천
군위
의성
포항 남구
당진
홍성
예산
공주
진천
충주
청주 흥덕
괴산
칠곡
영천
경산
경주
서산
보령
청양
세종
대전 대덕
증평
청주 청원
보은
고령
청도
성주
울산 북구
부여
논산
계룡
대전 동구
청주 상당
청주 서원
대구 북구
대구 중구
대구 수성
울산 울주
울산 동구
서천
금산
대전 유성
대전 중구
옥천
영동
대구 서구
대구 남구
대구 동구
울산 중구
울산 남구
군산
익산
대전 서구
무주
거창
합천
대구 달서
대구 달성
부산 금정
부산 동래
부산 기장
부안
김제
완주
장수
함양
창녕
밀양
부산 북구
부산 부산진
부산 연제
부산 해운대
고창
정읍
전주 덕진
진안
남원
진주
의령
부산 강서
부산 사상
부산 동구
부산 중구
영광
장성
전주 완산
임실
산청
함안
양산
창원 합포
부산 서구
부산 사하
부산 남구
함평
담양
순창
구례
하동
창원 의창
창원 성산
창원 진해
김해
부산 영도
부산 수영
신안
무안
광주 광산
곡성
화순
광양
사천
창원 회원
통영
목포
나주
광주 서구
광주 북구
순천
고흥
남해
고성(경남)
거제
해남
영암
광주 남구
광주 동구
여수
진도
강진
장흥
보성
완도
제주
서귀포

- splitlines: \n로 구분되어 있는 문자열을 나눠서 리스트로 리턴 <br>
split('\n')와 같다.

In [67]:
a = '가나다라\n마바'
a.splitlines()

['가나다라', '마바']

In [68]:
# 지역 이름 표시
for idx, row in draw_korea.iterrows():
    
    # 광역시는 구 이름이 겹치는 경우가 많아서 시단위 이름도 같이 표시한다. 
    # (중구, 서구)
    if len(row['ID'].split())==2:
        dispname = '{}\n{}'.format(row['ID'].split()[0], row['ID'].split()[1])
    elif row['ID'][:2]=='고성':
        dispname = '고성'
    else:
        dispname = row['ID']

    # 서대문구, 서귀포시 같이 이름이 3자 이상인 경우에 작은 글자로 표시한다.
    if len(dispname.splitlines()[-1]) >= 3:
        fontsize, linespacing = 9.5, 1.5
    else:
        fontsize, linespacing = 11, 1.2

    plt.annotate(dispname, (row['x']+0.5, row['y']+0.5), weight='bold',
                 fontsize=fontsize, ha='center', va='center', 
                 linespacing=linespacing)
    
# 시도 경계 그린다.
for path in BORDER_LINES:
    ys, xs = zip(*path)
    plt.plot(xs, ys, c='black', lw=1.5)

plt.gca().invert_yaxis()
#plt.gca().set_aspect(1)

plt.axis('off')

plt.tight_layout()
plt.show()

KeyError: 'x'