In [39]:
import pandas as pd
import numpy as np

In [40]:
hh19 = pd.read_csv('Household19.txt', delimiter='\t', sep=',', encoding = 'utf8', thousands=',', header= 1) 
del hh19['기간'] 
hh19 = hh19.iloc[1:] # 총합 행 제거

In [47]:
hh19.rename(columns={
    hh19.columns[0]:'구별'
}, inplace = True)
hh19.head()

    구별   일반가구수     1인     2인     3인     4인    5인    6인  7인 이상  평균가구원수
1  종로구   62652  24671  16208  11154   7828  2143   505    143     2.2
2   중구   54496  22078  14578   9540   6292  1533   373    102     2.1
3  용산구   93177  35148  25164  17439  11736  2907   612    171     2.2
4  성동구  122770  41488  32125  25634  18379  4014   877    253     2.3
5  광진구  149905  58714  35678  28054  21454  4711  1006    288     2.2

In [50]:
pop_18 = pd.read_csv('pop18.txt',delimiter='\t', header = 2, usecols = [1,3,6,9,13], thousands = ',')
pop_18.rename(columns ={
    pop_18.columns[0] : '구별',
    pop_18.columns[1] : '인구수',
    pop_18.columns[2] : '한국인',
    pop_18.columns[3] : '외국인',
    pop_18.columns[4] : '고령자'
}, inplace = True)
pop_18 = pop_18.iloc[1:] # 총합 행 제거
pop_18.head()

    구별     인구수     한국인    외국인    고령자
1  종로구  159842  149952   9890  28396
2   중구  135321  125800   9521  24265
3  용산구  244953  229786  15167  39995
4  성동구  302695  295591   7104  45372
5  광진구  361923  348064  13859  50047