In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [2]:
seoul = pd.read_csv('./source/소상공인시장진흥공단_상가(상권)정보_서울_202009.csv', sep='|',encoding='utf-8')
seoul.head(2)

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,19911397,커피빈코리아선릉로93길점,코리아선릉로93길점,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1168010100106960042022041,NaN,서울특별시 강남구 선릉로93길 6,135080,6149.0,NaN,1,NaN,127.047883,37.505675
1,19911801,프로포즈,NaN,Q,음식,Q09,유흥주점,Q09A01,호프/맥주,I56219,...,1154510200101620001017748,NaN,서울특별시 금천구 가산로 34-6,153010,8545.0,NaN,1,NaN,126.899220,37.471711

In [3]:
seoul.columns

Index(['상가업소번호', '상호명', '지점명', '상권업종대분류코드', '상권업종대분류명', '상권업종중분류코드',
       '상권업종중분류명', '상권업종소분류코드', '상권업종소분류명', '표준산업분류코드', '표준산업분류명', '시도코드',
       '시도명', '시군구코드', '시군구명', '행정동코드', '행정동명', '법정동코드', '법정동명', '지번코드',
       '대지구분코드', '대지구분명', '지번본번지', '지번부번지', '지번주소', '도로명코드', '도로명', '건물본번지',
       '건물부번지', '건물관리번호', '건물명', '도로명주소', '구우편번호', '신우편번호', '동정보', '층정보',
       '호정보', '경도', '위도'],
      dtype='object')

In [4]:
seoul = seoul[seoul.iloc[:,5]=='Q12']
seoul = seoul[['상호명','지점명','시도명','시군구명','도로명주소','경도','위도']]
seoul.head(3)

,상호명,지점명,시도명,시군구명,도로명주소,경도,위도
0,커피빈코리아선릉로93길점,코리아선릉로93길점,서울특별시,강남구,서울특별시 강남구 선릉로93길 6,127.047883,37.505675
4,고려대학교교육관쎄리오점,NaN,서울특별시,성북구,서울특별시 성북구 안암로 145,127.031702,37.588485
7,스완카페트,NaN,서울특별시,영등포구,서울특별시 영등포구 도신로10가길 11-1,126.897710,37.503693

# 전체 데이터 읽어오기
- pd.concat(tmp_list) 사용

In [5]:
from glob import glob
tmp_list = glob('./source/소상공인시장진흥공단*.csv')
tmp_list

['./source\\소상공인시장진흥공단_상가(상권)정보_강원_202009.csv',
 './source\\소상공인시장진흥공단_상가(상권)정보_경기_202009.csv',
 './source\\소상공인시장진흥공단_상가(상권)정보_경남_202009.csv',
 './source\\소상공인시장진흥공단_상가(상권)정보_경북_202009.csv',
 './source\\소상공인시장진흥공단_상가(상권)정보_광주_202009.csv',
 './source\\소상공인시장진흥공단_상가(상권)정보_대구_202009.csv',
 './source\\소상공인시장진흥공단_상가(상권)정보_대전_202009.csv',
 './source\\소상공인시장진흥공단_상가(상권)정보_부산_202009.csv',
 './source\\소상공인시장진흥공단_상가(상권)정보_서울_202009.csv',
 './source\\소상공인시장진흥공단_상가(상권)정보_세종_202009.csv',
 './source\\소상공인시장진흥공단_상가(상권)정보_울산_202009.csv',
 './source\\소상공인시장진흥공단_상가(상권)정보_인천_202009.csv',
 './source\\소상공인시장진흥공단_상가(상권)정보_전남_202009.csv',
 './source\\소상공인시장진흥공단_상가(상권)정보_전북_202009.csv',
 './source\\소상공인시장진흥공단_상가(상권)정보_제주_202009.csv',
 './source\\소상공인시장진흥공단_상가(상권)정보_충남_202009.csv',
 './source\\소상공인시장진흥공단_상가(상권)정보_충북_202009.csv']

In [6]:
concat_list = []
for file_name in tqdm(tmp_list):
    tmp = pd.read_csv(file_name, sep='|',encoding='utf8')
    concat_list.append(tmp)

100%|██████████| 17/17 [00:24<00:00,  1.43s/it]

In [7]:
korea = pd.concat(concat_list, ignore_index=True)
korea.head(2)

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,20173815,황진이,NaN,Q,음식,Q09,유흥주점,Q09A10,룸살롱/단란주점,I56211,...,4213010100102030001000001,NaN,강원도 원주시 중앙로 61,220904.0,26429.0,NaN,1,NaN,127.952252,37.347773
1,20176916,용둔은영식당,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,4273031022105710012005956,NaN,강원도 횡성군 우천면 경강로 2730,225814.0,25244.0,NaN,1,NaN,128.059348,37.495197

In [8]:
korea.to_csv('./result/전국 모든 업종.csv',sep=',',encoding='utf8')

In [3]:
korea = pd.read_csv('./result/전국 모든 업종.csv',sep=',',encoding='utf8')
korea.head()

,Unnamed: 0,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,0,20173815,황진이,NaN,Q,음식,Q09,유흥주점,Q09A10,룸살롱/단란주점,...,4213010100102030001000001,NaN,강원도 원주시 중앙로 61,220904.0,26429.0,NaN,1,NaN,127.952252,37.347773
1,1,20176916,용둔은영식당,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,...,4273031022105710012005956,NaN,강원도 횡성군 우천면 경강로 2730,225814.0,25244.0,NaN,1,NaN,128.059348,37.495197
2,2,20088927,아미식당,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,...,4272034021102240007032409,NaN,강원도 홍천군 서석면 풍암장터2길 49-13,250835.0,25166.0,NaN,1,NaN,128.187197,37.711402
3,3,20090406,산약초건강원,NaN,D,소매,D10,건강/미용식품,D10A07,건강원,...,4219010100100660002001227,NaN,강원도 태백시 황지로 112,235800.0,26014.0,NaN,1,NaN,128.992063,37.168758
4,4,20100551,왕벌식당,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,...,4280033026000000000011542,NaN,강원도 양구군 방산면 평화로 5432,255832.0,24501.0,NaN,1,NaN,127.955740,38.224635

In [4]:
del korea['Unnamed: 0']

In [11]:
cafe = korea[korea.iloc[:,5]=='Q07']
cafe = cafe[['상호명','지점명','시도명','시군구명','도로명주소','경도','위도']]
cafe.head()

         상호명  지점명  시도명 시군구명                도로명주소          경도         위도
12   버거킹오션월드  NaN  강원도  홍천군  강원도 홍천군 서면 한치골길 262  127.687273  37.652324
196      로데오  NaN  강원도  강릉시   강원도 강릉시 경강로 2090-1  128.895743  37.754245
479   왕눈이도넛츠  NaN  강원도  영월군   강원도 영월군 영월읍 삼옥재길 2  128.476234  37.209981
618  씨지브이원주2  NaN  강원도  원주시     강원도 원주시 서원대로 171  127.930798  37.344816
643   베스킨라벤스  NaN  강원도  삼척시       강원도 삼척시 진주로 35  129.163718  37.443797

In [12]:
cafe.to_csv('./result/전국 카페.csv',sep=',',encoding='utf8')

In [13]:
cafe = pd.read_csv('./result/전국 카페.csv',sep=',',encoding='utf8')

# 인덱스 재정비

In [14]:
cafe.reset_index(inplace=True)

In [15]:
del cafe['index']
del cafe['Unnamed: 0']

In [16]:
cafe.head(2)

       상호명  지점명  시도명 시군구명                도로명주소          경도         위도
0  버거킹오션월드  NaN  강원도  홍천군  강원도 홍천군 서면 한치골길 262  127.687273  37.652324
1      로데오  NaN  강원도  강릉시   강원도 강릉시 경강로 2090-1  128.895743  37.754245

# 시도명, 시군구명 정비

In [17]:
cafe['시도명'].isnull().sum(), \
cafe['시군구명'].isnull().sum()

(0, 0)

In [18]:
cafe['시도명'] = cafe['시도명'].str.strip()
cafe['시군구명'] = cafe['시군구명'].str.strip()

In [19]:
cafe['시도명'].unique()

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도',
       '충청남도', '충청북도'], dtype=object)

In [20]:
cafe['시군구명'].unique()

array(['홍천군', '강릉시', '영월군', '원주시', '삼척시', '춘천시', '태백시', '철원군', '화천군',
       '동해시', '속초시', '정선군', '평창군', '인제군', '횡성군', '양구군', '양양군', '고성군',
       '수원시 장안구', '고양시 덕양구', '안양시 동안구', '파주시', '연천군', '부천시', '용인시 수지구',
       '의정부시', '안산시', '고양시 일산동구', '성남시 수정구', '평택시', '안양시 만안구', '군포시',
       '시흥시', '고양시 일산서구', '화성시', '오산시', '용인시 기흥구', '수원시 팔달구', '성남시 분당구',
       '이천시', '포천시', '용인시 처인구', '성남시 중원구', '양주시', '동두천시', '가평군',
       '수원시 영통구', '안산시 단원구', '여주시', '남양주시', '하남시', '수원시 권선구', '광주시',
       '김포시', '광명시', '의왕시', '안산시 상록구', '안성시', '양평군', '구리시', '과천시',
       '창원시 성산구', '김해시', '진주시', '창원시 진해구', '거제시', '양산시', '산청군', '창원시 의창구',
       '창원시 마산회원구', '창원시', '함안군', '통영시', '의령군', '합천군', '함양군', '창원시 마산합포구',
       '사천시', '하동군', '창녕군', '거창군', '밀양시', '남해군', '구미시', '영덕군', '상주시',
       '김천시', '경산시', '안동시', '포항시 남구', '경주시', '포항시 북구', '군위군', '영주시',
       '영천시', '울진군', '봉화군', '칠곡군', '청송군', '청도군', '고령군', '문경시', '의성군',
       '성주군', '영양군', '예천군', '울릉군', '광산구', '남구', '북구', '서구', '동구', '달서구',
       '중구', '수성구', '달성군', '대덕구', '유성구', '사상구', '해운대구', '강서구', '동래구',
       '사하구', '금정구', '수영구', '연제구', '영도구', '부산진구', '기장군', '광진구', '동대문구',
       '관악구', '강동구', '성동구', '영등포구', '중랑구', '성북구', '서대문구', '양천구', '구로구',
       '서초구', '마포구', '강남구', '금천구', '송파구', '용산구', '도봉구', '동작구', '종로구',
       '은평구', '강북구', '노원구', '세종특별자치시', '울주군', '미추홀구', '계양구', '연수구', '부평구',
       '옹진군', '남동구', '강화군', '여수시', '목포시', '장성군', '고흥군', '함평군', '영광군',
       '순천시', '광양시', '화순군', '나주시', '영암군', '완도군', '보성군', '무안군', '담양군',
       '해남군', '곡성군', '장흥군', '강진군', '구례군', '신안군', '진도군', '전주시 완산구', '군산시',
       '전주시 덕진구', '정읍시', '남원시', '완주군', '익산시', '김제시', '진안군', '무주군', '장수군',
       '고창군', '부안군', '순창군', '임실군', '서귀포시', '제주시', '아산시', '천안시 서북구', '계룡시',
       '천안시 동남구', '금산군', '보령시', '부여군', '공주시', '당진시', '서산시', '홍성군', '논산시',
       '청양군', '예산군', '서천군', '태안군', '옥천군', '충주시', '청주시 흥덕구', '청주시 청원구',
       '청주시 상당구', '청주시 서원구', '진천군', '제천시', '음성군', '괴산군', '증평군', '영동군',
       '단양군', '보은군'], dtype=object)

# 시군구명 두 단어
- 포항시 북구, 포항시 남구 등등...
- 인구소멸위기지역 했을 때 시군구 / 행정구가 같이 나오던 꼴
- 행정구 있는 행은 그 행을 시군구명으로, 시군구명을 시도명으로

In [21]:
cafe['시군구명'].str.split()

0             [홍천군]
1             [강릉시]
2             [영월군]
3             [원주시]
4             [삼척시]
            ...
31164    [청주시, 흥덕구]
31165         [충주시]
31166         [충주시]
31167    [청주시, 흥덕구]
31168    [청주시, 흥덕구]
Name: 시군구명, Length: 31169, dtype: object

In [23]:
# len(cafe['시군구명'][105091].split())
# cafe['시군구명'][105098].split()[0]

In [24]:
cafe.iloc[6486:6487,:]

,상호명,지점명,시도명,시군구명,도로명주소,경도,위도
6486,쉐이크쉑,AK플라자분당점,경기도,성남시 분당구,경기도 성남시 분당구 성남대로 601,127.123421,37.385003

# 어떤 놈은 시군구명에 '경기도 수원시'가 아니라 '수원시'로 되어있음

In [25]:
cafe['시도명'] = cafe.apply(lambda r: r['시군구명'].split()[0] if len(r['시군구명'].split()) == 2 else r['시도명'], axis = 1 )

cafe['시군구명'] = cafe.apply(lambda r: r['시군구명'].split()[1] if len(r['시군구명'].split()) == 2 else r['시군구명'], axis = 1 )

In [26]:
cafe['시군구명'].unique()

array(['홍천군', '강릉시', '영월군', '원주시', '삼척시', '춘천시', '태백시', '철원군', '화천군',
       '동해시', '속초시', '정선군', '평창군', '인제군', '횡성군', '양구군', '양양군', '고성군',
       '장안구', '덕양구', '동안구', '파주시', '연천군', '부천시', '수지구', '의정부시', '안산시',
       '일산동구', '수정구', '평택시', '만안구', '군포시', '시흥시', '일산서구', '화성시', '오산시',
       '기흥구', '팔달구', '분당구', '이천시', '포천시', '처인구', '중원구', '양주시', '동두천시',
       '가평군', '영통구', '단원구', '여주시', '남양주시', '하남시', '권선구', '광주시', '김포시',
       '광명시', '의왕시', '상록구', '안성시', '양평군', '구리시', '과천시', '성산구', '김해시',
       '진주시', '진해구', '거제시', '양산시', '산청군', '의창구', '마산회원구', '창원시', '함안군',
       '통영시', '의령군', '합천군', '함양군', '마산합포구', '사천시', '하동군', '창녕군', '거창군',
       '밀양시', '남해군', '구미시', '영덕군', '상주시', '김천시', '경산시', '안동시', '남구',
       '경주시', '북구', '군위군', '영주시', '영천시', '울진군', '봉화군', '칠곡군', '청송군',
       '청도군', '고령군', '문경시', '의성군', '성주군', '영양군', '예천군', '울릉군', '광산구',
       '서구', '동구', '달서구', '중구', '수성구', '달성군', '대덕구', '유성구', '사상구', '해운대구',
       '강서구', '동래구', '사하구', '금정구', '수영구', '연제구', '영도구', '부산진구', '기장군',
       '광진구', '동대문구', '관악구', '강동구', '성동구', '영등포구', '중랑구', '성북구', '서대문구',
       '양천구', '구로구', '서초구', '마포구', '강남구', '금천구', '송파구', '용산구', '도봉구',
       '동작구', '종로구', '은평구', '강북구', '노원구', '세종특별자치시', '울주군', '미추홀구', '계양구',
       '연수구', '부평구', '옹진군', '남동구', '강화군', '여수시', '목포시', '장성군', '고흥군',
       '함평군', '영광군', '순천시', '광양시', '화순군', '나주시', '영암군', '완도군', '보성군',
       '무안군', '담양군', '해남군', '곡성군', '장흥군', '강진군', '구례군', '신안군', '진도군',
       '완산구', '군산시', '덕진구', '정읍시', '남원시', '완주군', '익산시', '김제시', '진안군',
       '무주군', '장수군', '고창군', '부안군', '순창군', '임실군', '서귀포시', '제주시', '아산시',
       '서북구', '계룡시', '동남구', '금산군', '보령시', '부여군', '공주시', '당진시', '서산시',
       '홍성군', '논산시', '청양군', '예산군', '서천군', '태안군', '옥천군', '충주시', '흥덕구',
       '청원구', '상당구', '서원구', '진천군', '제천시', '음성군', '괴산군', '증평군', '영동군',
       '단양군', '보은군'], dtype=object)

In [27]:
len(cafe['시도명']), \
len(cafe['시도명'].unique()) , \
len(cafe['시군구명'].unique())

(31169, 28, 228)

In [28]:
cafe['시도명'].unique()

array(['강원도', '수원시', '고양시', '안양시', '경기도', '용인시', '성남시', '안산시', '창원시',
       '경상남도', '경상북도', '포항시', '광주광역시', '대구광역시', '대전광역시', '부산광역시', '서울특별시',
       '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전주시', '전라북도', '제주특별자치도',
       '충청남도', '천안시', '충청북도', '청주시'], dtype=object)

In [29]:
cafe.to_csv('./result/전국 시군구 정리 카페.csv',sep=',',encoding='utf8')

In [30]:
cafe = pd.read_csv('./result/전국 시군구 정리 카페.csv',sep=',',encoding='utf8')

In [31]:
del cafe['Unnamed: 0']

# 지역 ID

In [32]:
from ID import ID

In [33]:
tmp_gu_dict = {
    '수원':['장안구', '권선구', '팔달구', '영통구'], 
    '성남':['수정구', '중원구', '분당구'], 
    '안양':['만안구', '동안구'], 
    '안산':['상록구', '단원구'], 
    '고양':['덕양구', '일산동구', '일산서구'], 
    '용인':['처인구', '기흥구', '수지구'], 
    '청주':['상당구', '서원구', '흥덕구', '청원구'], 
    '천안':['동남구', '서북구'], 
    '전주':['완산구', '덕진구'], 
    '포항':['남구', '북구'], 
    '창원':['의창구', '성산구', '진해구', '마산합포구', '마산회원구']
}

In [34]:
cafe[cafe['시도명'].str.find('광역시') >= 0]

,상호명,지점명,시도명,시군구명,도로명주소,경도,위도
12477,썬샤인피자,NaN,광주광역시,광산구,광주광역시 광산구 첨단내촌로 29,126.837079,35.209439
12478,나뚜루,봉선점,광주광역시,남구,광주광역시 남구 봉선로 172,126.913912,35.122890
12479,임실치즈피자케이준,NaN,광주광역시,북구,광주광역시 북구 연양로7번길 23-5,126.867893,35.207280
12480,프렌치크레페,NaN,광주광역시,북구,광주광역시 북구 동문대로 200,126.930442,35.179338
12481,버거킹,광주상무점,광주광역시,서구,광주광역시 서구 치평로 106,126.847816,35.156820
...,...,...,...,...,...,...,...
25898,오구본가,NaN,인천광역시,서구,인천광역시 서구 검단로487번길 1,126.658317,37.602662
25899,핫한핫도그,NaN,인천광역시,중구,인천광역시 중구 하늘달빛로 94,126.557465,37.487288
25900,소문난도너츠,NaN,인천광역시,서구,인천광역시 서구 원창로229번길 11-1,126.674789,37.518594
25901,노브랜드버거,인천스퀘어원점,인천광역시,연수구,인천광역시 연수구 청능대로 210,126.683609,37.405983
25902,피자플레넷,부평점,인천광역시,부평구,인천광역시 부평구 주부토로146번길 13-1,126.726514,37.508225

In [35]:
cafe[cafe['시도명'].str.find('수원') >= 0]

,상호명,지점명,시도명,시군구명,도로명주소,경도,위도
1188,피자사랑치킨사랑,NaN,수원시,장안구,경기도 수원시 장안구 만석로20번길 28,126.984399,37.293846
1207,피자스쿨5000,NaN,수원시,장안구,경기도 수원시 장안구 대평로 86,126.993281,37.295940
1211,씨지브이북수원,NaN,수원시,장안구,경기도 수원시 장안구 경수대로 950,127.007494,37.303539
1216,맥도날드,북수원DT점,수원시,장안구,경기도 수원시 장안구 경수대로 991,127.002712,37.305193
1224,빨라쪼델프레도,수원갤러리아점,수원시,팔달구,경기도 수원시 팔달구 효원로 282,127.032258,37.260979
...,...,...,...,...,...,...,...
8965,봉수아피자,NaN,수원시,권선구,경기도 수원시 권선구 세권로 20,127.006501,37.259837
8976,아이스박스,광교카페거리점,수원시,영통구,경기도 수원시 영통구 센트럴파크로127번길 127,127.054448,37.294030
8977,픽미픽미아이스할인매장,NaN,수원시,영통구,경기도 수원시 영통구 영통로90번길 4-9,127.060076,37.237793
8978,아이스박스태장,자이점,수원시,영통구,경기도 수원시 영통구 태장로54번길 70,127.051851,37.235826
8980,응응스크르,수원매현점,수원시,영통구,경기도 수원시 영통구 매탄로 69,127.041560,37.257324

In [36]:
# cafe['시도명'][41511][-3:]

KeyError: 41511

In [102]:
si_name = [None] * len(cafe)

# 광주광역시,대구광역시,대전광역시,부산광역시,서울특별시,울산광역시,인천광역시
for i in tqdm(cafe.index):
    if cafe['시도명'][i][-3:] in ['광역시','특별시']:
        if len(cafe['시군구명'][i]) == 2:
            si_name[i] = cafe['시도명'][i][:2]  + ' ' + cafe['시군구명'][i]
        else:
            si_name[i] = cafe['시도명'][i][:2]  + ' ' + cafe['시군구명'][i][:-1]

    # 세종특별자치시
    elif cafe['시도명'][i] == '세종특별자치시':
        si_name[i] = '세종'
    # 제주특별자치도
    elif cafe['시도명'][i] == '제주특별자치도':
        # 요거 잘못함. '제주' 가 아니라 '제주시'로 들어가 있음
        if len(cafe['시군구명'][i]) == 3:
            si_name[i] = '제주'
        else:
            si_name[i] = '서귀포'


    # 강원도, 경기도 
    elif cafe['시도명'][i][:-1] == '도' and len(cafe['시도명'][i]) == 3:
        if len(cafe['시군구명'][i]) == 2:
            si_name[i] = cafe['시도명'][i][:-1]  + ' ' + cafe['시군구명'][i]
        else:
            si_name[i] = cafe['시도명'][i][:-1]  + ' ' + cafe['시군구명'][i][:-1]

    # 경상남도, 경상북도, 전라남도, 전라북도, 충청남도, 충청북도
    elif cafe['시도명'][i][:-1] == '도' and len(cafe['시도명'][i]) == 4:
        if len(cafe['시군구명'][i]) == 2:
            si_name[i] = cafe['시도명'][i][::2]  + ' ' + cafe['시군구명'][i]
        else:
            si_name[i] = cafe['시도명'][i][::2]  + ' ' + cafe['시군구명'][i][:-1]


    # 그 외 안산시, 수원시, 고양시, 성남시, 안양시, 용인시, 창원시,포항시,전주시,천안시, 청주시
    # 딕셔너리


        # 강원 고성, 경남 고성, 덮어씌워지므로 조건문 위치 문제 없음
    else:
        if cafe['시군구명'][i][:-1] == '고성':
            if cafe['시도명'][i][:-1]  == '강원':
                si_name[i] = '고성(강원)'
            else:
                si_name[i] = '고성(경남)'
        # 요거 잘못함
        else:
            si_name[i] = cafe['시군구명'][i][:-1]

        for key, value in tmp_gu_dict.items():
            if cafe['시군구명'][i] in value:
                if len(cafe['시군구명'][i]) == 2:
                    si_name[i] = key + ' ' + cafe['시군구명'][i]
                elif cafe['시군구명'][i] in ['마산합포구', '마산회원구']:
                    si_name[i] = key + ' ' + cafe['시군구명'][i][2:-1]
                else:
                    si_name[i] = key + ' ' + cafe['시군구명'][i][:-1]

100%|██████████| 105101/105101 [00:24<00:00, 4279.05it/s]

In [103]:
len(si_name)

105101

In [104]:
si_name[:10]

['강릉', '강릉', '정선', '원주', '영월', '태백', '영월', '강릉', '춘천', '춘천']

In [105]:
# 1차시도: 용인, 수원 이런게 들어가 있어서 5개가 더 들어감
# 제주 제주, 제주 서귀포
sr_si_name = pd.Series(si_name)
len(sr_si_name.unique())

255

In [106]:
sr_si_name.unique()

array(['강릉', '정선', '원주', '영월', '태백', '춘천', '삼척', '철원', '속초', '동해', '화천',
       '양구', '횡성', '양양', '홍천', '평창', '고성(강원)', '인제', '안산 상록', '여주', '부천',
       '남양주', '수원 영통', '광주', '시흥', '평택', '포천', '화성', '파주', '군포', '수원 권선',
       '김포', '고양 일산동', '성남 분당', '안양 만안', '용인 기흥', '성남 중원', '수원 팔달',
       '용인 처인', '의정부', '구리', '고양 일산서', '용인 수지', '성남 수정', '안성', '안산', '광명',
       '고양 덕양', '의왕', '수원 장안', '안양 동안', '안산 단원', '이천', '오산', '가평', '하남',
       '과천', '양주', '양평', '동두천', '용인', '연천', '수원', '창원 성산', '창원 합포',
       '창원 회원', '사천', '함안', '창원 의창', '함양', '의령', '하동', '밀양', '김해', '진주',
       '통영', '거제', '창원 진해', '창원', '양산', '고성(경남)', '산청', '창녕', '거창', '합천',
       '남해', '경주', '경산', '영주', '구미', '포항 남구', '영덕', '상주', '안동', '의성',
       '문경', '칠곡', '영천', '울진', '포항 북구', '울릉', '김천', '청도', '성주', '청송',
       '군위', '영양', '봉화', '예천', '고령', '광주 서구', '광주 광산', '광주 동구', '광주 북구',
       '광주 남구', '대구 수성', '대구 중구', '대구 북구', '대구 서구', '대구 남구', '대구 달성',
       '대구 동구', '대구 달서', '대전 서구', '대전 중구', '대전 동구', '대전 유성', '대전 대덕',
       '부산 기장', '부산 북구', '부산 해운대', '부산 사상', '부산 사하', '부산 남구', '부산 금정',
       '부산 중구', '부산 수영', '부산 연제', '부산 부산진', '부산 동래', '부산 동구', '부산 강서',
       '부산 영도', '부산 서구', '서울 강남', '서울 성북', '서울 영등포', '서울 중구', '서울 서초',
       '서울 구로', '서울 종로', '서울 마포', '서울 도봉', '서울 은평', '서울 서대문', '서울 양천',
       '서울 광진', '서울 용산', '서울 관악', '서울 성동', '서울 송파', '서울 금천', '서울 동대문',
       '서울 강서', '서울 동작', '서울 중랑', '서울 강동', '서울 강북', '서울 노원', '세종',
       '울산 남구', '울산 울주', '울산 동구', '울산 중구', '울산 북구', '인천 미추홀', '인천 남동',
       '인천 계양', '인천 부평', '인천 연수', '인천 서구', '인천 중구', '인천 동구', '인천 강화',
       '인천 옹진', '순천', '함평', '목포', '여수', '광양', '나주', '장성', '담양', '보성',
       '화순', '영암', '영광', '장흥', '무안', '구례', '고흥', '진도', '완도', '해남', '곡성',
       '신안', '강진', '임실', '익산', '전주 완산', '군산', '부안', '김제', '남원', '전주 덕진',
       '완주', '정읍', '순창', '고창', '장수', '무주', '진안', '전주', '제주', '서귀포', '아산',
       '공주', '당진', '천안 동남', '금산', '태안', '서천', '서산', '홍성', '보령', '천안 서북',
       '예산', '계룡', '청양', '논산', '부여', '충주', '제천', '청주 상당', '청주 흥덕',
       '청주 서원', '음성', '청주 청원', '괴산', '영동', '진천', '단양', '옥천', '보은', '증평'],
      dtype=object)

In [107]:
sr_si_name[sr_si_name == '수원'],\
sr_si_name[sr_si_name == '용인']

(6486    수원
 dtype: object, 4822     용인
 6184     용인
 14261    용인
 14521    용인
 15058    용인
 19354    용인
 21226    용인
 23825    용인
 24918    용인
 25040    용인
 25232    용인
 26322    용인
 dtype: object)

In [108]:
cafe.iloc[6486:6487,:]

        상호명   지점명  시도명 시군구명                도로명주소          경도         위도
6486  이디야커피  망포역점  경기도  수원시  경기도 수원시 영통구 영통로 195  127.055792  37.245175

- 파이썬에서는 인덱스가 0부터 시작하므로 >= 0, 0을 포함해야 함
# string의 find()는 특정 단어의 개수를 찾아주는 게 아니라 단어가 시작하는 인덱스를 찾아준다.

In [109]:
sr_si_name[sr_si_name.str.find('영등포') >= 0]

58626    서울 영등포
58657    서울 영등포
58674    서울 영등포
58676    서울 영등포
58695    서울 영등포
          ...
78842    서울 영등포
78852    서울 영등포
78862    서울 영등포
78867    서울 영등포
78873    서울 영등포
Length: 1075, dtype: object

In [110]:
cafe['ID'] = si_name
del cafe['시군구명']
del cafe['시도명']
cafe.to_csv('./result/고유 ID.csv',sep=',',encoding='utf8')

In [111]:
cafe.tail()

,상호명,지점명,도로명주소,경도,위도,ID
105096,커피팜스,NaN,충청북도 청주시 서원구 사운로174번길 35-1,127.480678,36.645616,청주 서원
105097,커피랩KBS,NaN,충청북도 청주시 상당구 용담로 7,127.492144,36.633175,청주 상당
105098,군밤카페,NaN,충청북도 청주시 흥덕구 풍년로180번길 19,127.432589,36.628652,청주 흥덕
105099,카페,라벨르디저트,충청북도 청주시 서원구 수곡로 112-1,127.469841,36.621037,청주 서원
105100,카페,벧엘무인신용카드,충청북도 영동군 양강면 묘동4길 9-11,127.749886,36.146793,영동