In [136]:
from bs4 import BeautifulSoup
import re
page = open('03. test_first.html','r')
soup = BeautifulSoup(page, 'html.parser')
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   Very Simple HTML Code by PinkWink
  </title>
 </head>
 <body>
  <div>
   <p class="inner-text first-item" id="first">
    Happy PinkWink.
    <a href="http://www.pinkwink.kr" id="pw-link">
     PinkWink
    </a>
   </p>
   <p class="inner-text second-item">
    Happy Data Science.
    <a href="https://www.python.org" id="py-link">
     Python
    </a>
   </p>
  </div>
  <p class="outer-text first-item" id="second">
   <b>
    Data Science is funny.
   </b>
  </p>
  <p class="outer-text">
   <b>
    All I need is Love.
   </b>
  </p>
 </body>
</html>

In [137]:
import requests
raw = requests.get('https://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-Chicago/').text
html = BeautifulSoup(raw,'html.parser')

containers = html.select('div.sammy')
containers[0]

<div class="sammy" style="position: relative;">
<div class="sammyRank">1</div>
<div class="sammyListing"><a href="/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Old-Oak-Tap-BLT/"><b>BLT</b><br>
Old Oak Tap<br>
<em>Read more</em> </br></br></a></div>
</div>

In [138]:
ranks = []

for container in containers:
    rank = container.select_one('.sammyRank').text
    ranks.append(rank)
    
ranks[:10]

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [139]:
links = []

for container in containers:
    link = container.select_one('a')['href']
    links.append(link)
                    
links[:10], links[0]

(['/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Old-Oak-Tap-BLT/',
  '/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Au-Cheval-Fried-Bologna/',
  '/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Xoco-Woodland-Mushroom/',
  '/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Als-Deli-Roast-Beef/',
  '/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Publican-Quality-Meats-PB-L/',
  'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Hendrickx-Belgian-Bread-Crafter-Belgian-Chicken-Curry-Salad/',
  '/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Acadia-Lobster-Roll/',
  '/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Birchwood-Kitchen-Smoked-Salmon-Salad/',
  '/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Cemitas-Puebla-Atomica-Cemitas/',
  '/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Nana-Grilled-Laughing-Bird-Shrimp-and-Fried-Oyster-Po-Boy/'],
 '/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Old-Oak-Tap-BLT/')

- url 합치기. urlrequest 모듈
- 절대경로로 잡힌 url은 그대로 두고, 상대 경로로 잡힌 url은 절대경로로 바꿔주지요.

In [140]:
url_base = 'http://www.chicagomag.com'

from urllib.parse import urljoin

full_links = []

for link in links:
    full_links.append(urljoin(url_base, link))

full_links[:10]

['http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Old-Oak-Tap-BLT/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Au-Cheval-Fried-Bologna/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Xoco-Woodland-Mushroom/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Als-Deli-Roast-Beef/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Publican-Quality-Meats-PB-L/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Hendrickx-Belgian-Bread-Crafter-Belgian-Chicken-Curry-Salad/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Acadia-Lobster-Roll/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Birchwood-Kitchen-Smoked-Salmon-Salad/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Cemitas-Puebla-Atomica-Cemitas/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Nana-Grilled-Laughing-Bird-Shrimp-and-Fried-Oyster-Po-Boy/']

In [141]:
infos = []

for container in containers:
    info = container.select_one('.sammyListing').text
    infos.append(info)
                    
infos[:10], len(infos)

(['BLT\r\nOld Oak Tap\nRead more ',
  'Fried Bologna\r\nAu Cheval\nRead more ',
  'Woodland Mushroom\r\nXoco\nRead more ',
  'Roast Beef\r\nAl’s Deli\nRead more ',
  'PB&L\r\nPublican Quality Meats\nRead more ',
  'Belgian Chicken Curry Salad\r\nHendrickx Belgian Bread Crafter\nRead more ',
  'Lobster Roll\r\nAcadia\nRead more ',
  'Smoked Salmon Salad\r\nBirchwood Kitchen\nRead more ',
  'Atomica Cemitas\r\nCemitas Puebla\nRead more ',
  'Grilled Laughing Bird Shrimp and Fried Po’ Boy\r\nNana\nRead more '],
 50)

- 정규 표현식, re모듈

In [142]:
names = []
populars = []

for info in infos:
    prcd = re.split('\n|\r\n',info)
    # 그냥 split처럼 리스트로 만듦, 애는 ('패턴, |으로 구분',대상) 으로 분리해서 리스트로
    name = prcd[0]
    popular = prcd[1]
    
    names.append(name)
    populars.append(popular)

names[:10], populars[:10], len(names) , len(populars)

(['BLT',
  'Fried Bologna',
  'Woodland Mushroom',
  'Roast Beef',
  'PB&L',
  'Belgian Chicken Curry Salad',
  'Lobster Roll',
  'Smoked Salmon Salad',
  'Atomica Cemitas',
  'Grilled Laughing Bird Shrimp and Fried Po’ Boy'],
 ['Old Oak Tap',
  'Au Cheval',
  'Xoco',
  'Al’s Deli',
  'Publican Quality Meats',
  'Hendrickx Belgian Bread Crafter',
  'Acadia',
  'Birchwood Kitchen',
  'Cemitas Puebla',
  'Nana'],
 50,
 50)

In [143]:
ranks[:10], names[:10], populars[:10], full_links[:10]

(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'],
 ['BLT',
  'Fried Bologna',
  'Woodland Mushroom',
  'Roast Beef',
  'PB&L',
  'Belgian Chicken Curry Salad',
  'Lobster Roll',
  'Smoked Salmon Salad',
  'Atomica Cemitas',
  'Grilled Laughing Bird Shrimp and Fried Po’ Boy'],
 ['Old Oak Tap',
  'Au Cheval',
  'Xoco',
  'Al’s Deli',
  'Publican Quality Meats',
  'Hendrickx Belgian Bread Crafter',
  'Acadia',
  'Birchwood Kitchen',
  'Cemitas Puebla',
  'Nana'],
 ['http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Old-Oak-Tap-BLT/',
  'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Au-Cheval-Fried-Bologna/',
  'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Xoco-Woodland-Mushroom/',
  'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Als-Deli-Roast-Beef/',
  'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Publican-Quality-Meats-PB-L/',
  'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Hendrickx-Belgian-Bread-Crafter-Belgian-Chicken-Curry-Salad/',
  'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Acadia-Lobster-Roll/',
  'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Birchwood-Kitchen-Smoked-Salmon-Salad/',
  'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Cemitas-Puebla-Atomica-Cemitas/',
  'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Nana-Grilled-Laughing-Bird-Shrimp-and-Fried-Oyster-Po-Boy/'])

In [173]:
import pandas as pd

data = {
    'Rank':ranks,
    'Name':names ,
    'Menu':populars,
    'url':full_links 
}
df = pd.DataFrame(data)
df.set_index('Rank',inplace=True)
df.head(15)

,Name,Menu,url
Rank,,,
1,BLT,Old Oak Tap,http://www.chicagomag.com/Chicago-Magazine/Nov...
2,Fried Bologna,Au Cheval,http://www.chicagomag.com/Chicago-Magazine/Nov...
3,Woodland Mushroom,Xoco,http://www.chicagomag.com/Chicago-Magazine/Nov...
4,Roast Beef,Al’s Deli,http://www.chicagomag.com/Chicago-Magazine/Nov...
5,PB&L,Publican Quality Meats,http://www.chicagomag.com/Chicago-Magazine/Nov...
6,Belgian Chicken Curry Salad,Hendrickx Belgian Bread Crafter,http://www.chicagomag.com/Chicago-Magazine/Nov...
7,Lobster Roll,Acadia,http://www.chicagomag.com/Chicago-Magazine/Nov...
8,Smoked Salmon Salad,Birchwood Kitchen,http://www.chicagomag.com/Chicago-Magazine/Nov...
9,Atomica Cemitas,Cemitas Puebla,http://www.chicagomag.com/Chicago-Magazine/Nov...
10,Grilled Laughing Bird Shrimp and Fried Po’ Boy,Nana,http://www.chicagomag.com/Chicago-Magazine/Nov...
11,Ham and Raclette Panino,Lula Cafe,http://www.chicagomag.com/Chicago-Magazine/Nov...
12,Breaded Steak,Ricobene’s,http://www.chicagomag.com/Chicago-Magazine/Nov...
13,The Hawkeye,Frog n Snail,http://www.chicagomag.com/Chicago-Magazine/Nov...
14,Chicken Dip,Crosby’s Kitchen,http://www.chicagomag.com/Chicago-Magazine/Nov...
15,Wild Boar Sloppy Joe,Longman & Eagle,http://www.chicagomag.com/Chicago-Magazine/Nov...

In [145]:
df.to_csv('03. best_sandwitches_list_chicago.csv', sep = ',', encoding = 'utf-8')

# 페이지 돌아가면서 크롤링 하기

In [146]:
infos = []
from tqdm import tqdm 
for url in tqdm(df['url']):
    raw = requests.get(url
                      , headers = {'User-Agent':'Mozila/5.0'}).text
    each_page = BeautifulSoup(raw, 'html.parser')
    
    info = each_page.select_one('.addy').text
    infos.append(info)
    
infos[:10]

100%|██████████| 50/50 [02:22<00:00,  2.86s/it]

['\n$10. 2109 W. Chicago Ave., 773-772-0406, theoldoaktap.com',
 '\n$9. 800 W. Randolph St., 312-929-4580, aucheval.tumblr.com',
 '\n$9.50. 445 N. Clark St., 312-334-3688, rickbayless.com',
 '\n$9.40. 914 Noyes St., Evanston, 847-475-9400, alsdeli.net',
 '\n$10. 825 W. Fulton Mkt., 312-445-8977, publicanqualitymeats.com',
 '\n$7.25. 100 E. Walton St., 312-649-6717',
 '\n$16. 1639 S. Wabash Ave., 312-360-9500, acadiachicago.com',
 '\n$10. 2211 W. North Ave., 773-276-2100, birchwoodkitchen.com',
 '\n$9. 3619 W. North Ave., 773-772-8435, cemitaspuebla.com',
 '\n$17. 3267 S. Halsted St., 312-929-2486, nanaorganic.com']

In [147]:
# 정규표현식으로 가져오기

In [148]:
infos[0]

'\n$10. 2109 W. Chicago Ave., 773-772-0406, theoldoaktap.com'

In [149]:
re.findall('[A-Za-z0-9]{1,}\.[A-Za-z0-9]{1,10}\.?[A-Za-z]{1,}\.?[A-Za-z]{1,}','123')

[]

In [150]:
price = infos[0].split(',')[0].split('.')[0][1:]
price

'$10'

In [151]:
infos[0].split(',')

['\n$10. 2109 W. Chicago Ave.', ' 773-772-0406', ' theoldoaktap.com']

In [152]:
infos[0].split(',')[0].split('.')[1:]
''.join(infos[0].split(',')[0].split('.')[1:])

' 2109 W Chicago Ave'

In [153]:
# 이것도 홈페이지가 있다가 말다 하네. 얘도 데이터프레임으로 할까?
# 상세정보가 딕셔너리처럼 안 되어 있어서 실패인데...

# 하려면 정규표현식밖에 답이 없다.

In [154]:
re.match('[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}',newinfo[1]) != None

True

In [155]:
infos[2].split(',')[1:]

[' 312-334-3688', ' rickbayless.com']

In [156]:
# 앞에 띄어쓰기가 껴있을 때
re.match(' *[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}',newinfo[1])

In [157]:
re.findall('[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}', '02-100-1000')

['02-100-1000']

[' 773-868-4000', ' phoebesbakery.com']

In [158]:
prices = []
addresses = []
numbers = []
webs = []
import numpy as np

for info in infos:
    price = info.split(',')[0].split('.')[0][2:]
    prices.append(price)
    
    address = ''.join(info.split(',')[0].split('.')[1:])
    addresses.append(address)
 
    # 전화번호가 없거나 주소가 없는 곳이 다 다르기 때문에 try-except를 number, webs에 따로 걸어줘야 한다.
    # 근데 왜 findall은 찾아지고 match.group()은 안될까? => 아... 이거 할 땐 내가 try,except를 따로 안 해줘서 그런가봐
    try:
        number = re.findall(' *[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}',info)[0]
        numbers.append(number)
    except:
        numbers.append(np.nan)
    

    # if re.match(' *[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}',info):
    # # try:
    #     number = re.match(' *[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}',info).group()
    #     numbers.append(number)
    # else:
    #     numbers.append(np.nan)
    # # number = elm if re.match(' *[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}',elm) != None else 'hey'
    # if re.match('[A-Za-z0-9]{1,}\.[A-Za-z0-9]{1,10}\.?[A-Za-z]{1,}\.?[A-Za-z]{1,}',info):
    try:
        web = re.findall('[A-Za-z0-9]{1,}\.[A-Za-z0-9]{1,10}\.?[A-Za-z]{1,}\.?[A-Za-z]{1,}',info)[0]
        webs.append(web)
    except:
        webs.append(np.nan)

    # else:
    #     webs.append(np.nan)
    # # except:
        # numbers.append(np.nan)
        # webs.append(np.nan)
 
    
    # number = info.split(',')[-2]
    
    # web = info.split(',')[-1]

(['10',
  '9',
  '9',
  '9',
  '10',
  '7',
  '16',
  '10',
  '9',
  '17',
  '11',
  '5',
  '14',
  '10',
  '13',
  '4',
  '11',
  '11',
  '6',
  '15',
  '5',
  '6',
  '8',
  '5',
  '7',
  '11',
  '7',
  '12',
  '7',
  '21',
  '9',
  '9',
  '13',
  '7',
  '9',
  '9',
  '8',
  '8',
  '7',
  '6',
  '7',
  '11',
  '6',
  '9',
  '5',
  '8',
  '6',
  '7',
  '8',
  '6'],
 [' 2109 W Chicago Ave',
  ' 800 W Randolph St',
  '50 445 N Clark St',
  '40 914 Noyes St',
  ' 825 W Fulton Mkt',
  '25 100 E Walton St',
  ' 1639 S Wabash Ave',
  ' 2211 W North Ave',
  ' 3619 W North Ave',
  ' 3267 S Halsted St',
  ' 2537 N Kedzie Blvd',
  '49 Multiple locations',
  ' 3124 N Broadway',
  ' 3455 N Southport Ave',
  ' 2657 N Kedzie Ave',
  '50 1120 W Grand Ave',
  '95 1141 S Jefferson St',
  '50 333 E Benton Pl',
  '25 1411 N Wells St',
  ' 1747 N Damen Ave',
  ' 3209 W Irving Park Rd',
  ' Multiple locations',
  ' 5347 N Clark St',
  '99 2954 W Irving Park Rd',
  '52 Multiple locations',
  '95 191 Skokie Valley Rd',
  '50 Multiple locations',
  '95 1818 W Wilson Ave',
  ' 2517 W Division St',
  ' 218 W Kinzie St',
  '79 Multiple locations',
  '75 1547 N Wells St',
  ' 415 N Milwaukee Ave',
  '95 1840 N Damen Ave',
  ' 1220 W Webster Ave',
  ' 5357 N Ashland Ave',
  ' 1834 W Montrose Ave',
  ' 615 N State St',
  ' Multiple locations',
  ' 241 N York Rd',
  '25 1323 E 57th St',
  ' 655 Forest Ave',
  ' Hotel Lincoln',
  ' 100 S Marion St',
  '49 26 E Congress Pkwy',
  ' 2018 W Chicago Ave',
  '50 25 E Delaware Pl',
  '50 416 N York St',
  '75 65 E Washington St',
  '85 3351 N Broadway'],
 [' 773-772-0406',
  ' 312-929-4580',
  ' 312-334-3688',
  ' 847-475-9400',
  ' 312-445-8977',
  ' 312-649-6717',
  ' 312-360-9500',
  ' 773-276-2100',
  ' 773-772-8435',
  ' 312-929-2486',
  ' 773-489-9554',
  nan,
  ' 773-661-9166',
  ' 773-883-2525',
  ' 773-276-7110',
  ' 312-666-0730',
  ' 312-939-2855',
  ' 773-234-3449',
  ' 312-944-0459',
  ' 773-489-1747',
  ' 773-539-8038',
  nan,
  ' 773-275-5725',
  ' 773-539-5321',
  nan,
  ' 847-831-0600',
  nan,
  ' 773-293-2489',
  ' 773-862-8313',
  ' 312-624-8154',
  nan,
  ' 312-624-9430',
  ' 312-829-6300',
  ' 773-681-9914',
  ' 773-883-1313',
  ' 773-275-4297',
  ' 773-334-5664',
  ' 312-265-0434',
  nan,
  ' 630-516-3354',
  ' 773-538-7372',
  ' 847-234-8800',
  ' 312-254-4665',
  ' 708-725-7200',
  ' 312-922-2233',
  ' 773-384-9930',
  ' 312-896-2600',
  ' 630-359-5234',
  ' 312-726-2020',
  ' 773-868-4000'],
 ['theoldoaktap.com',
  'aucheval.tumblr.com',
  'rickbayless.com',
  'alsdeli.net',
  'publicanqualitymeats.com',
  nan,
  'acadiachicago.com',
  'birchwoodkitchen.com',
  'cemitaspuebla.com',
  'nanaorganic.com',
  'lulacafe.com',
  'ricobenespizza.com',
  'frognsnail.com',
  'crosbyskitchenchicago.com',
  'longmanandeagle.com',
  'bariitaliansubs.com',
  'mannysdeli.com',
  'eggysdiner.com',
  'oldjerusalemchicago.com',
  'hotchocolatechicago.com',
  nan,
  'dawalikitchen.com',
  'bigjoneschicago.com',
  'lapanechicago.com',
  'pastoralartisan.com',
  'deli.com',
  'luckysandwich.com',
  'cityprovisions.com',
  'papascachesabroso.com',
  nan,
  'hannahsbretzel.com',
  'lafournette.com',
  'paramountroom.com',
  'meltsandwichshoppechicago.com',
  'floriole.com',
  'firstslice.org',
  'troquetchicago.com',
  'grahamwich.com',
  'saigonsisters.com',
  'rosaliasdeli.com',
  'zhmarketcafe.com',
  'themarkethouse.com',
  'jdvhotels.com',
  'marionstreetcheesemarket.com',
  'cafecitochicago.com',
  'chickpeaonthego.com',
  'goddessandgrocer.com',
  'eatmyzenwich.com',
  'tonipatisserie.com',
  'phoebesbakery.com'])

In [179]:
prices[:10], addresses[:10], numbers[:10], webs[:10]

(['10', '9', '9', '9', '10', '7', '16', '10', '9', '17'],
 [' 2109 W Chicago Ave',
  ' 800 W Randolph St',
  '50 445 N Clark St',
  '40 914 Noyes St',
  ' 825 W Fulton Mkt',
  '25 100 E Walton St',
  ' 1639 S Wabash Ave',
  ' 2211 W North Ave',
  ' 3619 W North Ave',
  ' 3267 S Halsted St'],
 [' 773-772-0406',
  ' 312-929-4580',
  ' 312-334-3688',
  ' 847-475-9400',
  ' 312-445-8977',
  ' 312-649-6717',
  ' 312-360-9500',
  ' 773-276-2100',
  ' 773-772-8435',
  ' 312-929-2486'],
 ['theoldoaktap.com',
  'aucheval.tumblr.com',
  'rickbayless.com',
  'alsdeli.net',
  'publicanqualitymeats.com',
  nan,
  'acadiachicago.com',
  'birchwoodkitchen.com',
  'cemitaspuebla.com',
  'nanaorganic.com'])

# df에 prices, addresses, numbers, webs 추가하기

In [180]:
df['price'] = prices
df['address'] = addresses
df['phone'] = numbers
df['website'] = webs

df.head()

,Name,Menu,price,address,phone,website
Rank,,,,,,
1,BLT,Old Oak Tap,10,2109 W Chicago Ave,773-772-0406,theoldoaktap.com
2,Fried Bologna,Au Cheval,9,800 W Randolph St,312-929-4580,aucheval.tumblr.com
3,Woodland Mushroom,Xoco,9,50 445 N Clark St,312-334-3688,rickbayless.com
4,Roast Beef,Al’s Deli,9,40 914 Noyes St,847-475-9400,alsdeli.net
5,PB&L,Publican Quality Meats,10,825 W Fulton Mkt,312-445-8977,publicanqualitymeats.com

In [181]:
# df['phone'] = df.apply(lambda r: '' if r['address'].find('Multiple') > -1 else r['phone'], axis=1)

In [182]:
""" multiple 로케이션인 곳에 전화번호가 이상하게 들어가있음. 요거 어케 바꾸지? """
# [df['address'].find('Multiple locations') > -1] => 이거는 series 메소드가 아니라고 오류 발생
df.head()

,Name,Menu,price,address,phone,website
Rank,,,,,,
1,BLT,Old Oak Tap,10,2109 W Chicago Ave,773-772-0406,theoldoaktap.com
2,Fried Bologna,Au Cheval,9,800 W Randolph St,312-929-4580,aucheval.tumblr.com
3,Woodland Mushroom,Xoco,9,50 445 N Clark St,312-334-3688,rickbayless.com
4,Roast Beef,Al’s Deli,9,40 914 Noyes St,847-475-9400,alsdeli.net
5,PB&L,Publican Quality Meats,10,825 W Fulton Mkt,312-445-8977,publicanqualitymeats.com

In [187]:
df = df.reindex(columns=[
    'Name',
    'Menu',
    'price',
    'address',
    'phone',
    'website'  #googlemapkeys.txt
])
df.head()

,Name,Menu,price,address,phone,website
Rank,,,,,,
1,BLT,Old Oak Tap,10,2109 W Chicago Ave,773-772-0406,theoldoaktap.com
2,Fried Bologna,Au Cheval,9,800 W Randolph St,312-929-4580,aucheval.tumblr.com
3,Woodland Mushroom,Xoco,9,50 445 N Clark St,312-334-3688,rickbayless.com
4,Roast Beef,Al’s Deli,9,40 914 Noyes St,847-475-9400,alsdeli.net
5,PB&L,Publican Quality Meats,10,825 W Fulton Mkt,312-445-8977,publicanqualitymeats.com

In [188]:
df.fillna('', inplace=True)

In [189]:
df.to_csv('03. best_sandwitches_list_chicago2.csv',sep=',',encoding='utf-8')