# 서울시 구별 공원 현황

In [3]:
import pandas as pd
import numpy as np

In [4]:
park = pd.read_csv('서울시 공원.csv', encoding='CP949', thousands=',')
# thousands option not working
park.head(1)

,공원번호,공원명,공원개요,면적,개원일,주요시설,주요식물,안내도,오시는길,이용시참고사항,이미지,지역,공원주소,관리부서,전화번호,X좌표(GRS80TM),Y좌표(GRS80TM),X좌표(WGS84),Y좌표(WGS84),바로가기
0,1,남산도시자연공원,남산공원은 도심에 위치하여 서울시민에게 맑은 공기를 제공하는 자연휴식처이며 산책 꽃...,2896887㎡ 임 야 : 2454140㎡ 녹지대 및 기타시설 : 442747㎡,1968.9.10,기반시설 : 광장 45950㎡ 도로 108530㎡ 산책로 6.7㎞ (북측:3.7㎞/...,소나무 단풍 아카시아 상수리나무 등 191종 2881870주,http://parks.seoul.go.kr/upload/seditorMulti/2...,명동역(남산케이블카 와룡묘 서울애니메이션센터 방면) 도보 명동역 3번출구 → 퍼시픽...,남산공원 차량통행 금지안내 2005년 5월 1일부터 남산공원에 일반승용차 택시 통행...,http://parks.seoul.go.kr/file/info/view.do?fId...,중구,서울특별시 중구 삼일대로 231(예장동),서울특별시중부푸른도시사업소,02-3783-5900,198364.107,450395.554,126.990377,37.55014,http://parks.seoul.go.kr/template/sub/namsan.do

In [5]:
park = park.loc[:,['공원명','지역','공원주소','Y좌표(WGS84)','X좌표(WGS84)','면적']]
park.head()

,공원명,지역,공원주소,Y좌표(WGS84),X좌표(WGS84),면적
0,남산도시자연공원,중구,서울특별시 중구 삼일대로 231(예장동),37.550140,126.990377,2896887㎡ 임 야 : 2454140㎡ 녹지대 및 기타시설 : 442747㎡
1,길동생태공원,강동구,서울특별시 강동구 천호대로 1291(길동생태공원),37.540394,127.154779,80683㎡
2,서울대공원,과천시,경기도 과천시 대공원광장로 102,37.426449,127.019847,9132690m²
3,서울숲,성동구,서울특별시 성동구 뚝섬로 273 (성수동1가),37.543072,127.041798,480994㎡
4,월드컵공원,마포구,서울특별시 마포구 하늘공원로 84(월드컵공원),37.571805,126.878907,2284085㎡

In [6]:
park.rename(columns={
    '공원명':'공원',
    'Y좌표(WGS84)':'lat',
    'X좌표(WGS84)':'lng'
},inplace = True)

## Pandas Doc에 .values() 보다 to_numpy() 사용하라고 나와있음

In [7]:
park[['면적']].dtypes

면적    object
dtype: object

In [8]:

park[['면적']].to_numpy()[:10]

array([['2896887㎡ 임 야 : 2454140㎡ 녹지대 및 기타시설 : 442747㎡'],
       ['80683㎡'],
       ['9132690m²'],
       ['480994㎡'],
       ['2284085㎡'],
       ['8948.1㎡'],
       ['휴양 및 편익시설 : 평의자 7개 화장실 23.18㎡ 조경시설 - 은하폭포(높이 12m × 폭10m 발원지로부터 17.3m 폭 1.5 ~ 10m 수조 255㎡ 담수량 140t) - 산성폭포(높이 5m×폭 12m 수조 90㎡ 담수량 75t)- 명속의 벽 1개소(높이 5.4m) 교양시설 : 야외공연무대 102㎡ 관리시설 : 관리실 8.55㎡ 전기실 51.03㎡ 기계실 83.36㎡ 안내판 1개 공원 등 18본 휴양시설 : 벤취 12개 '],
       ['6456㎥'],
       ['80309㎡ 배수지 시설용량 : 201.000㎥ 송수 펌프용량 : 직송급수계통 30000㎥/일 금호배수지계통 16400㎥/일 '],
       ['1980.4㎡   ']], dtype=object)

## 중간에 NaN값이 섞여있어서  'float' object is not subscriptable 오류 발생
## 파이썬에서 NaN값은 Float이다
### 그러므로 오류를 피하기 위해서는 fillna() 메소드로 NaN값을 없애주고 시작하거나 (여전히 타입 오류가 발생할 수 있다) dropna()로 행을 다 날려버리던지, nan값 있는 행을 살리고 싶다면 따로 값을 넣어주던지 해서 진행한다

In [9]:
park_w_nan = park.copy()

In [10]:
park = park.dropna(axis=0)

먼저 : 를 기준으로 나누기

In [11]:
park.head(10)

,공원,지역,공원주소,lat,lng,면적
0,남산도시자연공원,중구,서울특별시 중구 삼일대로 231(예장동),37.550140,126.990377,2896887㎡ 임 야 : 2454140㎡ 녹지대 및 기타시설 : 442747㎡
1,길동생태공원,강동구,서울특별시 강동구 천호대로 1291(길동생태공원),37.540394,127.154779,80683㎡
2,서울대공원,과천시,경기도 과천시 대공원광장로 102,37.426449,127.019847,9132690m²
3,서울숲,성동구,서울특별시 성동구 뚝섬로 273 (성수동1가),37.543072,127.041798,480994㎡
4,월드컵공원,마포구,서울특별시 마포구 하늘공원로 84(월드컵공원),37.571805,126.878907,2284085㎡
5,광화문시민열린마당,종로구,서울특별시 종로구 세종로 76-2,37.575045,126.978023,8948.1㎡
6,진관근린공원(구파발폭포),은평구,서울특별시 은평구 진관동 393,37.637024,126.919216,휴양 및 편익시설 : 평의자 7개 화장실 23.18㎡ 조경시설 - 은하폭포(높이 1...
7,중마루근린공원,영등포구,서울특별시 영등포구 영등포동2가 222,37.519832,126.911267,6456㎥
8,응봉공원,성동구,서울특별시 성동구 금호동1가 산1-72,37.557228,127.021765,80309㎡ 배수지 시설용량 : 201.000㎥ 송수 펌프용량 : 직송급수계통 30...
9,매화근린공원,강서구,서울특별시 강서구 등촌동 630-14,37.557583,126.861150,1980.4㎡

In [12]:
park['면적'] = park['면적'].str.split(':')
park.head()

,공원,지역,공원주소,lat,lng,면적
0,남산도시자연공원,중구,서울특별시 중구 삼일대로 231(예장동),37.550140,126.990377,"[2896887㎡ 임 야 , 2454140㎡ 녹지대 및 기타시설 , 442747㎡]"
1,길동생태공원,강동구,서울특별시 강동구 천호대로 1291(길동생태공원),37.540394,127.154779,[80683㎡]
2,서울대공원,과천시,경기도 과천시 대공원광장로 102,37.426449,127.019847,[9132690m²]
3,서울숲,성동구,서울특별시 성동구 뚝섬로 273 (성수동1가),37.543072,127.041798,[480994㎡]
4,월드컵공원,마포구,서울특별시 마포구 하늘공원로 84(월드컵공원),37.571805,126.878907,[2284085㎡]

In [13]:
park['면적'] = park.apply(lambda r: r['면적'][0], axis=1)

정규표현식으로 숫자만 가져오기

In [14]:
park.tail()

,공원,지역,공원주소,lat,lng,면적
125,숭인근린공원,종로구,서울특별시 종로구 숭인동 58,37.576442,127.017827,45615㎡
126,서일대뒷산공원,중랑구,서울특별시 중랑구 면목동 산19,37.587716,127.098782,631021㎡
127,용마도시자연공원(사가정공원),중랑구,서울특별시 중랑구 면목7동 산50,37.579762,127.095997,109635㎡
128,문화비축기지,마포구,서울특별시 마포구 증산로 87,37.571718,126.893245,140022㎡
130,율현공원,강남구,서울특별시 강남구 율현동 밤고개로24길(율현동 56),37.472332,127.115594,157535㎡

In [15]:
import re
park['면적'] = park.apply(lambda r: re.findall('[0-9]+', r['면적']), axis=1)

In [16]:
np.where(park.isna())

(array([], dtype=int32), array([], dtype=int32))

In [17]:
park

,공원,지역,공원주소,lat,lng,면적
0,남산도시자연공원,중구,서울특별시 중구 삼일대로 231(예장동),37.550140,126.990377,[2896887]
1,길동생태공원,강동구,서울특별시 강동구 천호대로 1291(길동생태공원),37.540394,127.154779,[80683]
2,서울대공원,과천시,경기도 과천시 대공원광장로 102,37.426449,127.019847,[9132690]
3,서울숲,성동구,서울특별시 성동구 뚝섬로 273 (성수동1가),37.543072,127.041798,[480994]
4,월드컵공원,마포구,서울특별시 마포구 하늘공원로 84(월드컵공원),37.571805,126.878907,[2284085]
...,...,...,...,...,...,...
125,숭인근린공원,종로구,서울특별시 종로구 숭인동 58,37.576442,127.017827,[45615]
126,서일대뒷산공원,중랑구,서울특별시 중랑구 면목동 산19,37.587716,127.098782,[631021]
127,용마도시자연공원(사가정공원),중랑구,서울특별시 중랑구 면목7동 산50,37.579762,127.095997,[109635]
128,문화비축기지,마포구,서울특별시 마포구 증산로 87,37.571718,126.893245,[140022]
130,율현공원,강남구,서울특별시 강남구 율현동 밤고개로24길(율현동 56),37.472332,127.115594,[157535]

## 구별 인구수 데이터 + 인구 데이터

In [46]:
pop20 = pd.read_csv('인구수.txt', delimiter = '\t', encoding='utf8', thousands=',')
pop20 = pop20.iloc[3:,:4]
del pop20['기간']
pop20.reset_index(inplace=True)
del pop20['index']
pop20.head()

   자치구       세대       인구
0  종로구   74,861  159,842
1   중구   63,594  135,321
2  용산구  112,451  244,953
3  성동구  136,096  302,695
4  광진구  166,857  361,923

In [47]:
# thousand 또 안먹음
pop20.iloc[:,1:] = pop20.iloc[:,1:].apply(lambda r: r.str.replace(',' , '').astype('int64') ,axis = 1)

DF 행 추가, 사실 앞에서 dropna()로 없애버려서 필요는 없지만 행 추가하는 방법에 append(dictionary) 도 있다는 걸 보기 위해 남김

In [48]:
# 누락된 과천시 데이터 추가.
pop20 = pop20.append({'자치구' : '과천시' , '세대' : 22631, '인구' : 61309} , ignore_index=True)
pop20.tail()

    자치구      세대      인구
21  서초구  173483  429995
22  강남구  234021  544085
23  송파구  281417  676673
24  강동구  194602  462275
25  과천시   22631   61309

In [49]:
pop20.rename(columns={
    '자치구':'지역'
},inplace=True)

In [50]:
pop20.head()

    지역      세대      인구
0  종로구   74861  159842
1   중구   63594  135321
2  용산구  112451  244953
3  성동구  136096  302695
4  광진구  166857  361923

In [51]:
result = pd.merge(park, pop20, how = 'left', on = '지역')
result.head()

,공원,지역,공원주소,lat,lng,면적,세대,인구
0,남산도시자연공원,중구,서울특별시 중구 삼일대로 231(예장동),37.550140,126.990377,[2896887],63594,135321
1,길동생태공원,강동구,서울특별시 강동구 천호대로 1291(길동생태공원),37.540394,127.154779,[80683],194602,462275
2,서울대공원,과천시,경기도 과천시 대공원광장로 102,37.426449,127.019847,[9132690],22631,61309
3,서울숲,성동구,서울특별시 성동구 뚝섬로 273 (성수동1가),37.543072,127.041798,[480994],136096,302695
4,월드컵공원,마포구,서울특별시 마포구 하늘공원로 84(월드컵공원),37.571805,126.878907,[2284085],178495,383494

In [52]:
np.where(result.isna())

(array([], dtype=int32), array([], dtype=int32))

In [53]:
result['공원'].unique()

array(['남산도시자연공원', '길동생태공원', '서울대공원', '서울숲', '월드컵공원', '광화문시민열린마당',
       '진관근린공원(구파발폭포)', '중마루근린공원', '응봉공원', '매화근린공원', '성수근린공원', '샛마을근린공원',
       '여의도근린공원', '간데메근린공원', '훈련원근린공원', '영등포근린공원', '보라매근린공원', '어린이대공원',
       '천호근린공원', '용산가족공원', '독립근린공원', '낙산근린공원', '양재시민의숲', '관악산도시자연공원',
       '효창근린공원', '감로천생태공원(관악산)', '개운산근린공원', '개웅산근린공원', '경희궁', '국립현충원',
       '계남근린공원', '고척근린공원', '파리근린공원', '허준공원', '궁동근린공원', '궁산근린공원',
       '까치산근린공원', '꿩고개근린공원', '노량진공원', '답십리근린공원', '대모산도시자연공원', '탑골근린공원',
       '갈산근린공원', '천마근린공원', '도곡근린공원', '도산근린공원', '청량공원', '초안산근린공원',
       '동명근린공원', '마로니에공원', '자매근린공원', '장지근린공원', '명일근린공원', '방화근린공원',
       '아시아근린공원', '배봉산근린공원', '안산도시자연공원', '염창근린공원', '백련근린공원', '오금근린공원',
       '오동근린공원', '봉산도시자연공원', '온수도시자연공원', '봉은공원', '올림픽공원', '와룡근린공원',
       '봉화산근린공원', '북악산도시자연공원', '북한산국립공원', '외국인묘지공원', '불광근린공원',
       '불암산도시자연공원', '용마폭포공원', '사육신공원', '용왕산근린공원', '사직근린공원', '우장산근린공원',
       '삼일근린공원', '삼청근린공원', '인왕산도시자연공원', '상도근린공원', '일자산도시자연공원', '쌍문근린공원',
       '수락산도시자연공원', '송파나루근린공원(석촌호수)', '선유도근린공원', '손기정체육공원', '성북근린공원',
       '봉제산공원', '서울창포원', '북서울꿈의숲', '서서울호수공원', '중랑캠핑숲', '솔밭근린공원',
       '금천체육공원(관악산)', '금천폭포근린공원', '만수천공원(관악산)', '발바닥공원', '월천근린공원',
       '용두근린공원', '상암근린공원', '와우근린공원', '금호근린공원', '달맞이근린공원', '문정근린공원',
       '문화예술공원', '세종로공원', '샘말공원(관악산)', '초안산생태공원', '서오능도시자연공원',
       '청계산도시자연공원', '개화근린공원', '아차산생태공원', '인능산도시자연공원', '구룡산', '우면산도시자연공원',
       '향림근린공원', '신사근린공원', '광평근린공원', '청담근린공원', '허브천문공원', '연신내물빛공원',
       '나들이근린공원', '숭인근린공원', '서일대뒷산공원', '용마도시자연공원(사가정공원)', '문화비축기지',
       '율현공원'], dtype=object)

In [54]:
result['면적'].to_numpy()

array([list(['2896887']), list(['80683']), list(['9132690']),
       list(['480994']), list(['2284085']), list(['8948', '1']), list([]),
       list(['6456']), list(['80309']), list(['1980', '4']),
       list(['5197', '7']), list(['11467']), list(['229539']),
       list(['15179', '7']), list(['16734', '60']), list(['61544']),
       list(['424106']), list(['560552']), list(['26696', '8']),
       list(['75900']), list(['113021', '7', '2']), list(['201779']),
       list(['258991']), list(['10420819', '08']), list(['171294', '1']),
       list(['15000']), list(['297926']), list(['411972']),
       list(['98470']), list(['2038741', '3']), list(['603715', '2']),
       list(['108120']), list(['29619', '3']), list(['29843', '8']),
       list(['126026']), list(['135002', '7']), list(['384026']),
       list(['180000']), list(['416031']), list(['160720']),
       list(['2277252']), list(['19599', '70']), list(['138596']),
       list(['185295']), list(['254648']), list(['29816', '5']),
       list(['762642']), list(['664905']), list(['99599', '9']),
       list(['5802']), list(['16500']), list(['585652']),
       list(['649709', '6']), list(['72132']), list(['66027', '8']),
       list(['265582']), list(['2088704', '9']), list(['112070']),
       list(['993724']), list(['219167']), list(['1349556', '4']),
       list(['1511198']), list(['1097565']), list(['328018']),
       list(['1447122']), list(['207790']), list(['1018689']),
       list(['954553']), list(['1667848']), list(['13224']),
       list(['130345']), list(['5332422']), list(['5107964']),
       list(['47832']), list(['213552']), list(['168099', '87']),
       list(['359435', '2']), list(['36660']), list(['380735']),
       list(['1807420', '9']), list(['359342', '8']), list(['632733']),
       list(['328018']), list(['6691885', '3']), list(['285757']),
       list(['110407']), list(['29682', '2']), list(['137759']),
       list(['917190']), list(['51470']), list(['662543']),
       list(['217946']), list(['179666']), list(['34955']),
       list(['18083']), list(['4835']), list(['19650']), list(['7000']),
       list(['10712']), list(['17182']), list(['160349', '3']),
       list(['87432', '4']), list(['13467']), list(['46871']),
       list(['49972']), list(['74385']), list(['8868']), list(['10634']),
       list(['22113']), list(['1082847']), list(['3692455']),
       list(['386500']), list(['23450']), list(['2400833']),
       list(['2752421']), list(['4180551']), list(['147859']),
       list(['111650']), list(['519782']), list(['59347']),
       list(['25500']), list(['2560']), list(['32000']), list(['45615']),
       list(['631021']), list(['109635']), list(['140022']),
       list(['157535'])], dtype=object)

In [55]:
result.head(10)

,공원,지역,공원주소,lat,lng,면적,세대,인구
0,남산도시자연공원,중구,서울특별시 중구 삼일대로 231(예장동),37.550140,126.990377,[2896887],63594,135321
1,길동생태공원,강동구,서울특별시 강동구 천호대로 1291(길동생태공원),37.540394,127.154779,[80683],194602,462275
2,서울대공원,과천시,경기도 과천시 대공원광장로 102,37.426449,127.019847,[9132690],22631,61309
3,서울숲,성동구,서울특별시 성동구 뚝섬로 273 (성수동1가),37.543072,127.041798,[480994],136096,302695
4,월드컵공원,마포구,서울특별시 마포구 하늘공원로 84(월드컵공원),37.571805,126.878907,[2284085],178495,383494
5,광화문시민열린마당,종로구,서울특별시 종로구 세종로 76-2,37.575045,126.978023,"[8948, 1]",74861,159842
6,진관근린공원(구파발폭포),은평구,서울특별시 은평구 진관동 393,37.637024,126.919216,[],213039,485842
7,중마루근린공원,영등포구,서울특별시 영등포구 영등포동2가 222,37.519832,126.911267,[6456],182087,405982
8,응봉공원,성동구,서울특별시 성동구 금호동1가 산1-72,37.557228,127.021765,[80309],136096,302695
9,매화근린공원,강서구,서울특별시 강서구 등촌동 630-14,37.557583,126.861150,"[1980, 4]",266366,589536

## IndexError: list index out of range
https://stackoverflow.com/questions/41946703/apply-function-resulted-in-list-index-out-of-range <br>

검색어 'pandas map list index out of range'<br>
한 열의 모든 값을 변경하려고 할 때, 무언가 하나가 데이터타입이 다르거나, 형태가 다르기 때문에 발생함 <br>
여기서는 빈 리스트가 있어서 발생한듯 <br>

In [56]:
# result['면적'] = result.apply(lambda r : r['면적'][0], axis = 1) 
result['면적'] = list( map (lambda x : int(x[0]) if len(x) > 0 else '', result['면적']))

In [57]:
result.head(10)

,공원,지역,공원주소,lat,lng,면적,세대,인구
0,남산도시자연공원,중구,서울특별시 중구 삼일대로 231(예장동),37.550140,126.990377,2896887,63594,135321
1,길동생태공원,강동구,서울특별시 강동구 천호대로 1291(길동생태공원),37.540394,127.154779,80683,194602,462275
2,서울대공원,과천시,경기도 과천시 대공원광장로 102,37.426449,127.019847,9132690,22631,61309
3,서울숲,성동구,서울특별시 성동구 뚝섬로 273 (성수동1가),37.543072,127.041798,480994,136096,302695
4,월드컵공원,마포구,서울특별시 마포구 하늘공원로 84(월드컵공원),37.571805,126.878907,2284085,178495,383494
5,광화문시민열린마당,종로구,서울특별시 종로구 세종로 76-2,37.575045,126.978023,8948,74861,159842
6,진관근린공원(구파발폭포),은평구,서울특별시 은평구 진관동 393,37.637024,126.919216,,213039,485842
7,중마루근린공원,영등포구,서울특별시 영등포구 영등포동2가 222,37.519832,126.911267,6456,182087,405982
8,응봉공원,성동구,서울특별시 성동구 금호동1가 산1-72,37.557228,127.021765,80309,136096,302695
9,매화근린공원,강서구,서울특별시 강서구 등촌동 630-14,37.557583,126.861150,1980,266366,589536

In [58]:
result.면적.to_numpy()

array([2896887, 80683, 9132690, 480994, 2284085, 8948, '', 6456, 80309,
       1980, 5197, 11467, 229539, 15179, 16734, 61544, 424106, 560552,
       26696, 75900, 113021, 201779, 258991, 10420819, 171294, 15000,
       297926, 411972, 98470, 2038741, 603715, 108120, 29619, 29843,
       126026, 135002, 384026, 180000, 416031, 160720, 2277252, 19599,
       138596, 185295, 254648, 29816, 762642, 664905, 99599, 5802, 16500,
       585652, 649709, 72132, 66027, 265582, 2088704, 112070, 993724,
       219167, 1349556, 1511198, 1097565, 328018, 1447122, 207790,
       1018689, 954553, 1667848, 13224, 130345, 5332422, 5107964, 47832,
       213552, 168099, 359435, 36660, 380735, 1807420, 359342, 632733,
       328018, 6691885, 285757, 110407, 29682, 137759, 917190, 51470,
       662543, 217946, 179666, 34955, 18083, 4835, 19650, 7000, 10712,
       17182, 160349, 87432, 13467, 46871, 49972, 74385, 8868, 10634,
       22113, 1082847, 3692455, 386500, 23450, 2400833, 2752421, 4180551,
       147859, 111650, 519782, 59347, 25500, 2560, 32000, 45615, 631021,
       109635, 140022, 157535], dtype=object)

# 진관근린공원의 면적이 이상했는데, DF를 앞 뒤 잘라서 보여줬기 때문에 쉽게 확인하지 못함
## NaN값 거를 때 거르지 못한 이유는 데이터가 이상하다 뿐이지 들어가긴 들어가있었기 때문이다.
- 더 많은 행과 열을 출력하려면 <br>
pd.set_option('display.max_row', 500) <br>
pd.set_option('display.max_columns', 100)

In [59]:
result.loc['진관근린공원(구파발폭포)','면적'] = 983791

In [60]:
result['면적']['진관근린공원(구파발폭포)']

983791

# 왜 값이 안 들어가지?

In [61]:
result.head(7)

,공원,지역,공원주소,lat,lng,면적,세대,인구
0,남산도시자연공원,중구,서울특별시 중구 삼일대로 231(예장동),37.550140,126.990377,2896887,63594,135321
1,길동생태공원,강동구,서울특별시 강동구 천호대로 1291(길동생태공원),37.540394,127.154779,80683,194602,462275
2,서울대공원,과천시,경기도 과천시 대공원광장로 102,37.426449,127.019847,9132690,22631,61309
3,서울숲,성동구,서울특별시 성동구 뚝섬로 273 (성수동1가),37.543072,127.041798,480994,136096,302695
4,월드컵공원,마포구,서울특별시 마포구 하늘공원로 84(월드컵공원),37.571805,126.878907,2284085,178495,383494
5,광화문시민열린마당,종로구,서울특별시 종로구 세종로 76-2,37.575045,126.978023,8948,74861,159842
6,진관근린공원(구파발폭포),은평구,서울특별시 은평구 진관동 393,37.637024,126.919216,,213039,485842

In [62]:
result.tail()

,공원,지역,공원주소,lat,lng,면적,세대,인구
124,서일대뒷산공원,중랑구,서울특별시 중랑구 면목동 산19,37.587716,127.098782,631021,185109,400989
125,용마도시자연공원(사가정공원),중랑구,서울특별시 중랑구 면목7동 산50,37.579762,127.095997,109635,185109,400989
126,문화비축기지,마포구,서울특별시 마포구 증산로 87,37.571718,126.893245,140022,178495,383494
127,율현공원,강남구,서울특별시 강남구 율현동 밤고개로24길(율현동 56),37.472332,127.115594,157535,234021,544085
진관근린공원(구파발폭포),NaN,NaN,NaN,NaN,NaN,983791,NaN,NaN

위의 방식은 df\[행 인덱스\]\[열 인덱스\] 로 값이 들어간다.
아직 공원이 인덱스가 되지 않았기 때문에, 진관근린공원이라는 인덱스를 가진 행으로 들어가는 것

In [63]:
result.drop(index='진관근린공원(구파발폭포)',inplace=True)

In [64]:
result.tail()

,공원,지역,공원주소,lat,lng,면적,세대,인구
123,숭인근린공원,종로구,서울특별시 종로구 숭인동 58,37.576442,127.017827,45615,74861,159842
124,서일대뒷산공원,중랑구,서울특별시 중랑구 면목동 산19,37.587716,127.098782,631021,185109,400989
125,용마도시자연공원(사가정공원),중랑구,서울특별시 중랑구 면목7동 산50,37.579762,127.095997,109635,185109,400989
126,문화비축기지,마포구,서울특별시 마포구 증산로 87,37.571718,126.893245,140022,178495,383494
127,율현공원,강남구,서울특별시 강남구 율현동 밤고개로24길(율현동 56),37.472332,127.115594,157535,234021,544085

In [65]:
result.set_index('공원', inplace = True)
result.loc['진관근린공원(구파발폭포)','면적'] = 983791
result.head(7)

,지역,공원주소,lat,lng,면적,세대,인구
공원,,,,,,,
남산도시자연공원,중구,서울특별시 중구 삼일대로 231(예장동),37.550140,126.990377,2896887,63594,135321
길동생태공원,강동구,서울특별시 강동구 천호대로 1291(길동생태공원),37.540394,127.154779,80683,194602,462275
서울대공원,과천시,경기도 과천시 대공원광장로 102,37.426449,127.019847,9132690,22631,61309
서울숲,성동구,서울특별시 성동구 뚝섬로 273 (성수동1가),37.543072,127.041798,480994,136096,302695
월드컵공원,마포구,서울특별시 마포구 하늘공원로 84(월드컵공원),37.571805,126.878907,2284085,178495,383494
광화문시민열린마당,종로구,서울특별시 종로구 세종로 76-2,37.575045,126.978023,8948,74861,159842
진관근린공원(구파발폭포),은평구,서울특별시 은평구 진관동 393,37.637024,126.919216,983791,213039,485842

## 지도에서 비율로 정확하게 비교할 수 있도록 인구별 공원면적

In [72]:
type(result['인구'][0])

int

In [66]:
result['인구 당 공원 면적'] = result['면적'] / result['인구']

In [67]:
result.to_csv('./result/공원 위치, 면적, 인구.csv',sep=',',encoding='utf8')