In [164]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
from datetime import datetime
from dateutil.parser import parse
from tqdm import tqdm

In [179]:
key_fd = open('../keys/gov_data_api_key.txt', mode='r')
govapi_key = key_fd.read(100)
key_fd.close()

In [180]:
# datetime객체에서 문자열로 전처리해줘야 받아옴
start_date = '20201121'
end_date = '20201121'

In [181]:
corona_url = "http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19SidoInfStateJson"
url = f"{corona_url}?serviceKey={govapi_key}&pageNo=1&numOfRows=1&startCreateDt={start_date}&endCreateDt={end_date}"

In [182]:
result = requests.get(url)
soup = BeautifulSoup(result.text, 'xml')

In [183]:
# 한 번 요청할 때 들어오는 결과 수
totalCount = soup.select_one('totalCount').text
totalCount

'19'

In [184]:
# 날짜
date = soup.select('createDt')
# 도시
city = soup.select('gubun')
# 사망자 수
death_toll = soup.select('deathCnt')
# 전일대비 증감 수
increase = soup.select('incDec')
# 일일 확진자 수
case = soup.select('defCnt')
# 지역발생 수
local = soup.select('localOccCnt')
# 해외유입 수
inflow = soup.select('overFlowCnt')
# 격리중 확진자 수
isolation = soup.select('isolIngCnt')
# 일일 격리 해제 수
release = soup.select('isolClearCnt')
# 10만명당 발생률
per100k = soup.select('qurRate')

In [185]:
date_list = [] ; city_list = [] ; death_toll_list = [] ; increase_list = [] ; case_list = [] ; local_list = [] ; inflow_list = [] ; isolation_list = [] ; release_list = [] ; per100k_list = []

for i in date:
    date_list.append(parse(i.text).date())
for i in city:
    city_list.append(i.text)
for i in death_toll:
    death_toll_list.append(int(i.text))
for i in increase:
    increase_list.append(int(i.text))
for i in case:
    case_list.append(int(i.text))
for i in local:
    local_list.append(int(i.text))
for i in inflow:
    inflow_list.append(int(i.text))
for i in isolation:
    isolation_list.append(int(i.text))
for i in release:
    release_list.append(int(i.text))
for i in per100k:
    per100k_list.append(float(i.text) if i.text != '-' else 0.00)

In [186]:
df = pd.DataFrame({
    '일자':date_list,
    '지역':city_list, '사망자':death_toll_list,
    '확진자':case_list, '전일대비':increase_list, '격리해제':release_list, 
    '격리중':isolation_list, '지역발생':local_list,'해외유입':inflow_list,
    '10만명당':per100k_list
})
df

            일자  지역  사망자    확진자  전일대비   격리해제   격리중  지역발생  해외유입   10만명당
0   2020-11-21  검역    0   2090     9   1556   534     0     9    0.00
1   2020-11-21  제주    0     65     0     59     6     0     0    9.69
2   2020-11-21  경남    0    457    11    342   115    11     0   13.60
3   2020-11-21  경북   57   1657     8   1535    65     8     0   62.23
4   2020-11-21  전남    2    340    19    189   149    18     1   18.23
5   2020-11-21  전북    1    208    14    165    42    13     1   11.45
6   2020-11-21  충남    8    769    21    598   163    19     2   36.23
7   2020-11-21  충북    3    225     1    194    28     1     0   14.07
8   2020-11-21  강원    5    491    15    295   191    14     1   31.87
9   2020-11-21  경기  108   6367    93   5486   773    86     7   48.05
10  2020-11-21  세종    0     86     0     82     4     0     0   25.12
11  2020-11-21  울산    2    171     1    163     6     1     0   14.91
12  2020-11-21  대전    6    457     1    437    14     1     0   31.00
13  2020-11-21  광주    3    606     7    514    89     6     1   41.60
14  2020-11-21  인천   11   1179    22   1051   117    22     0   39.88
15  2020-11-21  대구  197   7212     1   6983    32     0     1  296.00
16  2020-11-21  부산   15    631     7    580    36     7     0   18.49
17  2020-11-21  서울   85   7392   156   6136  1171   154     2   75.94
18  2020-11-21  합계  503  30403   386  26365  3535   361    25   58.64

In [187]:
ㄲ

NameError: name 'ᄁ' is not defined

## 전체 데이터

In [190]:
# 오늘 날짜
today = datetime.today()
march_2nd = datetime(2020,3,4)

# 날짜끼리의 사칙연산은 timedelta 클래스로 return됨, where properties such as days, seconds are available.
elapsed_count = (today - march_2nd).days
elapsed_count

292

In [191]:
elapsed_series = pd.date_range(march_2nd, periods= elapsed_count)
elapsed_series

DatetimeIndex(['2020-03-04', '2020-03-05', '2020-03-06', '2020-03-07',
               '2020-03-08', '2020-03-09', '2020-03-10', '2020-03-11',
               '2020-03-12', '2020-03-13',
               ...
               '2020-12-11', '2020-12-12', '2020-12-13', '2020-12-14',
               '2020-12-15', '2020-12-16', '2020-12-17', '2020-12-18',
               '2020-12-19', '2020-12-20'],
              dtype='datetime64[ns]', length=292, freq='D')

In [216]:
date_list = [] ; city_list = [] ; death_toll_list = [] ; increase_list = [] ; case_list = [] ; local_list = [] ; inflow_list = [] ; isolation_list = [] ; release_list = [] ; per100k_list = []

corona_url = "http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19SidoInfStateJson"

for date in tqdm(elapsed_series):
    date =  date.strftime('%Y%m%d')

    url = f"{corona_url}?serviceKey={govapi_key}&pageNo=1&numOfRows=1&startCreateDt={date}&endCreateDt={date}"

    result = requests.get(url)
    soup = BeautifulSoup(result.text, 'xml')

    # 날짜
    date = soup.select('createDt')
    # 도시
    city = soup.select('gubun')
    # 사망자 수
    death_toll = soup.select('deathCnt')
    # 전일대비 증감 수
    increase = soup.select('incDec')
    # 일일 확진자 수
    case = soup.select('defCnt')
    # 지역발생 수
    local = soup.select('localOccCnt')
    # 해외유입 수
    inflow = soup.select('overFlowCnt')
    # 격리중 확진자 수
    isolation = soup.select('isolIngCnt')
    # 일일 격리 해제 수
    release = soup.select('isolClearCnt')
    # 10만명당 발생률
    per100k = soup.select('qurRate')

    # 초반에 아직 해외유입이 없다거나, 사망자가 없다거나 해서 누락되는 데이터들이 있으므로 삼항연산자 혹은 오류처리를 해줘야 함
    for i in date:
        date_list.append(parse(i.text).date())
    for i in city:
        city_list.append(i.text)
    for i in death_toll:
        death_toll_list.append(int(i.text))
    for i in increase:
        increase_list.append(int(i.text))
    # 아무것도 없을 때에는 빈 리스트로 받아옴
    # 삼항연산자로 해결못함. i가 없음
    # try-except로도 해결못함. 값이 없을 뿐이지, 빈 리스트로 들어오긴 해서 오류가 아니기 때문임
    if len(case) != 0:
        for i in case:
            case_list.append(int(i.text))
    else:
        # 일자 length를 기준으로
        for i in range(len(date)):
            case_list.append(0)

    if len(local) != 0:
        for i in local:
            local_list.append(int(i.text))
    else:
        for i in range(len(date)):
            local_list.append(0)

    if len(inflow) != 0:
        for i in inflow:
            inflow_list.append(int(i.text))
    else:
        for i in range(len(date)):
            inflow_list.append(0)
  
    if len(isolation) != 0:
        for i in isolation:
            isolation_list.append(int(i.text))
    else:
        for i in range(len(date)):
            isolation_list.append(0)
    if len(isolation) != 0:
        for i in release:
            release_list.append(int(i.text))
    else:
        for i in range(len(date)):
            release_list.append(0)

    for i in per100k:
        try:
            per100k_list.append(float(i.text) if i.text.find('.') >= 0 else 0.00)
        # 51.13. 같은 이상한 값이 껴있음
        except:
            per100k_list.append(float(i.text[:-1]) if i.text.find('.') >= 0 else 0.00)

 83%|████████▎ | 241/292 [00:38<00:08,  6.18it/s]

ValueError: could not convert string to float: '51.13.'

In [213]:
print(len(date_list))
print(len(city_list))
print(len(death_toll_list))
print(len(case_list))
print(len(increase_list))
print(len(release_list))
print(len(isolation_list))
print(len(local_list))
print(len(inflow_list))
print(len(per100k_list))

18
18
18
18
18
18
18
18
18
18

In [214]:
df = pd.DataFrame({
    '일자':date_list,
    '지역':city_list, '사망자':death_toll_list,
    '확진자':case_list, '전일대비':increase_list, '격리해제':release_list, 
    '격리중':isolation_list, '지역발생':local_list,'해외유입':inflow_list,
    '10만명당':per100k_list
})
df

            일자  지역  사망자   확진자  전일대비  격리해제  격리중  지역발생  해외유입  10만명당
0   2020-03-04  제주    0     3     0     0    0     0     0    0.4
1   2020-03-04  경남    0    65     1     0    0     0     0    1.9
2   2020-03-04  경북    6   774    89     0    0     0     0   29.1
3   2020-03-04  전남    0     5     0     0    0     0     0    0.3
4   2020-03-04  전북    0     7     0     0    0     0     0    0.4
5   2020-03-04  충남    0    82     1     0    0     0     0    3.9
6   2020-03-04  충북    0    11     0     0    0     0     0    0.7
7   2020-03-04  강원    0    21     1     0    0     0     0    1.4
8   2020-03-04  경기    1   101     7     0    0     0     0    0.8
9   2020-03-04  세종    0     1     0     0    0     0     0    0.3
10  2020-03-04  울산    0    23     3     0    0     0     0    0.0
11  2020-03-04  대전    0    15     1     0    0     0     0    0.0
12  2020-03-04  광주    0    13     2     0    0     0     0    0.9
13  2020-03-04  인천    0     9     2     0    0     0     0    0.3
14  2020-03-04  대구   24  4006   405     0    0     0     0  164.4
15  2020-03-04  부산    1    93     3     0    0     0     0    2.7
16  2020-03-04  서울    0    99     1     0    0     0     0    0.0
17  2020-03-04  합계   32  5328   516     0    0     0     0   10.3

In [ ]:
ㄱ