# 서울시 구별 5대 범죄

In [152]:
import pandas as pd
import numpy as np

dtype이 int가 아니라 object라서 read_csv의 thousands 옵션이 먹히지 않을 때

In [170]:
import csv
crime = pd.read_csv('서울시 구별 5대범죄.txt', delimiter='\t', encoding='utf-8', thousands=',')
# thousands option not working
crime.head()

,기간,자치구,합계,합계.1,살인,살인.1,강도,강도.1,강간강제추행,강간강제추행.1,절도,절도.1,폭력,폭력.1
0,기간,자치구,발생,검거,발생,검거,발생,검거,발생,검거,발생,검거,발생,검거
1,2019,합계,"103,668","74,805",136,128,136,133,"6,469","6,007","42,204","21,284","54,723","47,253"
2,2019,종로구,"3,846","4,117",4,5,7,8,238,"1,143","1,515","1,069","2,082","1,892"
3,2019,중구,"4,327","2,804",2,1,6,5,195,115,"2,202","1,050","1,922","1,633"
4,2019,용산구,"3,313","2,611",3,3,3,4,272,237,999,544,"2,036","1,823"

In [171]:
# dtype이 int가 아니라 object라서 thousands 옵션이 안 먹힘
crime.dtypes[::2]

기간        object
합계        object
살인        object
강도        object
강간강제추행    object
절도        object
폭력        object
dtype: object

In [172]:
# 숫자 데이터 행/열만 가져옴
crime.iloc[1: , 2: ].head()

,합계,합계.1,살인,살인.1,강도,강도.1,강간강제추행,강간강제추행.1,절도,절도.1,폭력,폭력.1
1,"103,668","74,805",136,128,136,133,"6,469","6,007","42,204","21,284","54,723","47,253"
2,"3,846","4,117",4,5,7,8,238,"1,143","1,515","1,069","2,082","1,892"
3,"4,327","2,804",2,1,6,5,195,115,"2,202","1,050","1,922","1,633"
4,"3,313","2,611",3,3,3,4,272,237,999,544,"2,036","1,823"
5,"2,512","1,838",6,5,9,10,133,96,970,511,"1,394","1,216"

In [173]:
# str은 DF의 열, 즉 Series에서만 가능. DF 전체에서 하고싶으면 apply로 열로 쪼개야 함
crime.iloc[1: , 2: ] = crime.iloc[1: , 2: ].str.strip().replace(',' , '').astype('int64')

AttributeError: 'DataFrame' object has no attribute 'str'

In [174]:
crime.iloc[1: , 2: ] = crime.iloc[1: , 2: ].apply(lambda r: r.str.replace(',' , '').astype('int64') ,axis = 1)

In [175]:
crime.dtypes

기간          object
자치구         object
합계          object
합계.1        object
살인          object
살인.1        object
강도          object
강도.1        object
강간강제추행      object
강간강제추행.1    object
절도          object
절도.1        object
폭력          object
폭력.1        object
dtype: object

In [176]:
# 정제 성공
crime.head()

,기간,자치구,합계,합계.1,살인,살인.1,강도,강도.1,강간강제추행,강간강제추행.1,절도,절도.1,폭력,폭력.1
0,기간,자치구,발생,검거,발생,검거,발생,검거,발생,검거,발생,검거,발생,검거
1,2019,합계,103668,74805,136,128,136,133,6469,6007,42204,21284,54723,47253
2,2019,종로구,3846,4117,4,5,7,8,238,1143,1515,1069,2082,1892
3,2019,중구,4327,2804,2,1,6,5,195,115,2202,1050,1922,1633
4,2019,용산구,3313,2611,3,3,3,4,272,237,999,544,2036,1823

In [177]:
crime.head()

,기간,자치구,합계,합계.1,살인,살인.1,강도,강도.1,강간강제추행,강간강제추행.1,절도,절도.1,폭력,폭력.1
0,기간,자치구,발생,검거,발생,검거,발생,검거,발생,검거,발생,검거,발생,검거
1,2019,합계,103668,74805,136,128,136,133,6469,6007,42204,21284,54723,47253
2,2019,종로구,3846,4117,4,5,7,8,238,1143,1515,1069,2082,1892
3,2019,중구,4327,2804,2,1,6,5,195,115,2202,1050,1922,1633
4,2019,용산구,3313,2611,3,3,3,4,272,237,999,544,2036,1823

In [178]:
crime.rename(columns = {
    crime.columns[1]: '구별',
    crime.columns[2]: '발생 총합',
    crime.columns[3]: '검거 총합',
    crime.columns[4]: '살인 발생',
    crime.columns[5]: '살인 검거',
    crime.columns[6]: '강도 발생',
    crime.columns[7]: '강도 검거',
    crime.columns[8]: '강간 발생',
    crime.columns[9]: '강간 검거',
    crime.columns[10]: '절도 발생',
    crime.columns[11]: '절도 검거',
    crime.columns[12]: '폭력 발생',
    crime.columns[13]: '폭력 검거'
}, inplace = True)

In [179]:
# 필요없는 행, 열 제거
del crime['기간']
crime.drop([0,1], inplace = True)

구별 5대 범죄 검거율

In [180]:
crime.set_index('구별',inplace=True)
crime.head()

    발생 총합 검거 총합 살인 발생 살인 검거 강도 발생 강도 검거 강간 발생 강간 검거 절도 발생 절도 검거 폭력 발생 폭력 검거
구별
종로구  3846  4117     4     5     7     8   238  1143  1515  1069  2082  1892
중구   4327  2804     2     1     6     5   195   115  2202  1050  1922  1633
용산구  3313  2611     3     3     3     4   272   237   999   544  2036  1823
성동구  2512  1838     6     5     9    10   133    96   970   511  1394  1216
광진구  4011  2816     4     5     6     5   273   213  1875  1008  1853  1585

In [184]:
crime.astype('int').head()

,발생 총합,검거 총합,살인,강도,강간,절도,폭력,강간 검거율,강도 검거율,살인 검거율,절도 검거율,폭력 검거율
구별,,,,,,,,,,,,
종로구,3846,4117,4,7,238,1515,2082,480,114,125,70,90
중구,4327,2804,2,6,195,2202,1922,58,83,50,47,84
용산구,3313,2611,3,3,272,999,2036,87,133,100,54,89
성동구,2512,1838,6,9,133,970,1394,72,111,83,52,87
광진구,4011,2816,4,6,273,1875,1853,78,83,125,53,85

In [182]:
crime['강간 검거율'] = crime['강간 검거'] / crime['강간 발생'] *100
crime['강도 검거율'] = crime['강도 검거'] / crime['강도 발생'] *100
crime['살인 검거율'] = crime['살인 검거'] / crime['살인 발생'] *100
crime['절도 검거율'] = crime['절도 검거'] / crime['절도 발생'] *100
crime['폭력 검거율'] = crime['폭력 검거'] / crime['폭력 발생'] *100

crime.rename( columns = {
    '강간 발생' : '강간',
    '강도 발생' : '강도',
    '살인 발생' : '살인',
    '절도 발생' : '절도',
    '폭력 발생' : '폭력'
} , inplace = True)

del crime['강간 검거']
del crime['강도 검거']
del crime['살인 검거']
del crime['절도 검거']
del crime['폭력 검거']

In [186]:
# type이 object라서 반올림이 안 된다고 나왔는데 astype으로 바꿔줘도 여진히 반올림 안됨
# 찾아봤는데 어쩔 수 없다는 반응이 대부분
crime['강간 검거율'] = np.round( crime['강간 검거율'] , 2 )
crime['강도 검거율'] = np.round( crime['강도 검거율'] , 2 )
crime['살인 검거율'] = np.round( crime['살인 검거율'] , 2 )
crime['절도 검거율'] = np.round( crime['절도 검거율'] , 2 )
crime['폭력 검거율'] = np.round( crime['폭력 검거율'] , 2 )

TypeError: loop of ufunc does not support argument 0 of type float which has no callable rint method

In [187]:
crime.head()

,발생 총합,검거 총합,살인,강도,강간,절도,폭력,강간 검거율,강도 검거율,살인 검거율,절도 검거율,폭력 검거율
구별,,,,,,,,,,,,
종로구,3846,4117,4,7,238,1515,2082,480.252,114.286,125,70.5611,90.8742
중구,4327,2804,2,6,195,2202,1922,58.9744,83.3333,50,47.6839,84.9636
용산구,3313,2611,3,3,272,999,2036,87.1324,133.333,100,54.4545,89.5383
성동구,2512,1838,6,9,133,970,1394,72.1805,111.111,83.3333,52.6804,87.231
광진구,4011,2816,4,6,273,1875,1853,78.022,83.3333,125,53.76,85.537

## 데이터 정규화
변수마다 척도(Scale)가 다르면 비교 불가.<br>강간은 100단위, 강도와 살인은 10단위, 절도와 폭력은 1000단위라서 일관성이 없다.<br>
각각 평균과 표준편차가 다른 변수들을 평균 0, 표준편차 1인 표준정규분포를 따르도록 정규화해서 비교한다.

In [189]:
from sklearn import preprocessing

In [198]:
col = ['강간','강도','살인','절도','폭력']
# crime.강간.values, 실제 값들을 보여줌
# crime.강간.value_counts, 도수
x = crime[col].values
x

array([[238, 7, 4, 1515, 2082],
       [195, 6, 2, 2202, 1922],
       [272, 3, 3, 999, 2036],
       [133, 9, 6, 970, 1394],
       [273, 6, 4, 1875, 1853],
       [168, 10, 6, 1531, 1977],
       [138, 4, 10, 1666, 2450],
       [176, 3, 3, 1082, 1613],
       [176, 3, 6, 1229, 2424],
       [90, 5, 1, 790, 1224],
       [184, 3, 4, 1498, 2464],
       [194, 1, 3, 1565, 2117],
       [175, 5, 2, 1226, 1535],
       [495, 2, 2, 2190, 2153],
       [127, 2, 6, 1477, 1602],
       [306, 3, 8, 2050, 2557],
       [226, 3, 10, 1916, 2552],
       [153, 10, 6, 1157, 1779],
       [356, 3, 10, 2409, 3042],
       [251, 1, 4, 1328, 1816],
       [408, 10, 13, 2223, 2674],
       [616, 7, 5, 2270, 2644],
       [666, 5, 5, 2970, 3658],
       [273, 10, 7, 2416, 2992],
       [180, 15, 6, 1650, 2163]], dtype=object)

In [202]:
min_max_scaler = preprocessing.MinMaxScaler()

''' fit_ransform할 대상을 넣는데, 데이터 타입을 float로 만든다
fit_transform의 return은 array로 나오는데, 그래서 밑에서
columns와 index를 crime의 걸 빌려서 새 DF를 만드는 것'''

x_scaled = min_max_scaler.fit_transform( x.astype(float) )
x_scaled

array([[0.25694444, 0.42857143, 0.25      , 0.33256881, 0.35250616],
       [0.18229167, 0.35714286, 0.08333333, 0.64770642, 0.28677075],
       [0.31597222, 0.14285714, 0.16666667, 0.09587156, 0.33360723],
       [0.07465278, 0.57142857, 0.41666667, 0.08256881, 0.06984388],
       [0.31770833, 0.35714286, 0.25      , 0.49770642, 0.25842235],
       [0.13541667, 0.64285714, 0.41666667, 0.33990826, 0.3093673 ],
       [0.08333333, 0.21428571, 0.75      , 0.40183486, 0.50369762],
       [0.14930556, 0.14285714, 0.16666667, 0.13394495, 0.15981923],
       [0.14930556, 0.14285714, 0.41666667, 0.20137615, 0.49301561],
       [0.        , 0.28571429, 0.        , 0.        , 0.        ],
       [0.16319444, 0.14285714, 0.25      , 0.32477064, 0.50944947],
       [0.18055556, 0.        , 0.16666667, 0.35550459, 0.36688578],
       [0.14756944, 0.28571429, 0.08333333, 0.2       , 0.12777321],
       [0.703125  , 0.07142857, 0.08333333, 0.64220183, 0.38167625],
       [0.06423611, 0.07142857, 0.41666667, 0.31513761, 0.15529992],
       [0.375     , 0.14285714, 0.58333333, 0.57798165, 0.54765818],
       [0.23611111, 0.14285714, 0.75      , 0.51651376, 0.54560394],
       [0.109375  , 0.64285714, 0.41666667, 0.16834862, 0.22801972],
       [0.46180556, 0.14285714, 0.75      , 0.74266055, 0.74691865],
       [0.27951389, 0.        , 0.25      , 0.24678899, 0.24322104],
       [0.55208333, 0.64285714, 1.        , 0.65733945, 0.5957272 ],
       [0.91319444, 0.42857143, 0.33333333, 0.67889908, 0.58340181],
       [1.        , 0.28571429, 0.33333333, 1.        , 1.        ],
       [0.31770833, 0.64285714, 0.5       , 0.74587156, 0.72637634],
       [0.15625   , 1.        , 0.41666667, 0.39449541, 0.38578472]])

In [204]:
crime_norm = pd.DataFrame(x_scaled, columns=col, index=crime.index)
col2 = ['강간 검거율','강도 검거율','살인 검거율','절도 검거율','폭력 검거율']
crime_norm[col2] = crime[col2]
crime_norm.head()

,강간,강도,살인,절도,폭력,강간 검거율,강도 검거율,살인 검거율,절도 검거율,폭력 검거율
구별,,,,,,,,,,
종로구,0.256944,0.428571,0.250000,0.332569,0.352506,480.252,114.286,125,70.5611,90.8742
중구,0.182292,0.357143,0.083333,0.647706,0.286771,58.9744,83.3333,50,47.6839,84.9636
용산구,0.315972,0.142857,0.166667,0.095872,0.333607,87.1324,133.333,100,54.4545,89.5383
성동구,0.074653,0.571429,0.416667,0.082569,0.069844,72.1805,111.111,83.3333,52.6804,87.231
광진구,0.317708,0.357143,0.250000,0.497706,0.258422,78.022,83.3333,125,53.76,85.537

In [209]:
crime_norm.to_csv('.//result/정규화_서울시 구별 5대범죄.csv', sep=',',encoding='utf8')