In [15]:
import pandas as pd
from glob import glob

### 파일들의 리스트를 뽑을 떄 사용하는 glob
- 정규표현식을 사용해서

In [21]:
glob('./stations/지역*.xls')

['./stations\\지역_위치별(주유소) (1).xls',
 './stations\\지역_위치별(주유소) (10).xls',
 './stations\\지역_위치별(주유소) (11).xls',
 './stations\\지역_위치별(주유소) (12).xls',
 './stations\\지역_위치별(주유소) (13).xls',
 './stations\\지역_위치별(주유소) (14).xls',
 './stations\\지역_위치별(주유소) (15).xls',
 './stations\\지역_위치별(주유소) (16).xls',
 './stations\\지역_위치별(주유소) (17).xls',
 './stations\\지역_위치별(주유소) (18).xls',
 './stations\\지역_위치별(주유소) (19).xls',
 './stations\\지역_위치별(주유소) (2).xls',
 './stations\\지역_위치별(주유소) (20).xls',
 './stations\\지역_위치별(주유소) (21).xls',
 './stations\\지역_위치별(주유소) (22).xls',
 './stations\\지역_위치별(주유소) (23).xls',
 './stations\\지역_위치별(주유소) (24).xls',
 './stations\\지역_위치별(주유소) (3).xls',
 './stations\\지역_위치별(주유소) (4).xls',
 './stations\\지역_위치별(주유소) (5).xls',
 './stations\\지역_위치별(주유소) (6).xls',
 './stations\\지역_위치별(주유소) (7).xls',
 './stations\\지역_위치별(주유소) (8).xls',
 './stations\\지역_위치별(주유소) (9).xls',
 './stations\\지역_위치별(주유소).xls']

In [25]:
station_files = glob('./stations/지역*.xls')

In [60]:
test = pd.read_excel('./stations/지역_위치별(주유소).xls', header =2 )
test.head(10)

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,(주)보성 세곡주유소,서울 강남구 헌릉로 731 (세곡동),SK에너지,02-445-6870,Y,-,1375,1175,-
1,서울특별시,GS칼텍스(주)직영 산성주유소,서울 강남구 헌릉로 730 (세곡동),GS칼텍스,02-2226-4963,Y,-,1385,1195,-
2,서울특별시,오일프러스 셀프,서울 강남구 남부순환로 2651 (도곡동),SK에너지,02-3462-5100,Y,1549,1394,1196,-
3,서울특별시,방죽주유소,서울 강남구 밤고개로 215 (율현동),S-OIL,02-459-3434,Y,-,1399,1199,-
4,서울특별시,현대오일뱅크 도곡셀프주유소,서울 강남구 남부순환로 2718 (도곡2동),현대오일뱅크,02-529-5101,Y,1557,1404,1199,-
5,서울특별시,지에스칼텍스㈜ 주성주유소,서울 강남구 영동대로 716,GS칼텍스,02-518-3460,N,1555,1405,1230,-
6,서울특별시,지에스칼텍스㈜ GS타워주유소,서울 강남구 논현로 516 (역삼동),GS칼텍스,02-539-5145,N,1628,1415,1255,-
7,서울특별시,SK에너지(주) 매봉주유소,서울 강남구 언주로 307,SK에너지,02-556-5510,Y,1565,1415,1245,-
8,서울특별시,지에스칼텍스㈜ 은마주유소,서울 강남구 영동대로 235,GS칼텍스,02-3452-1882,N,1565,1415,1255,-
9,서울특별시,SK서광주유소,서울 강남구 역삼로 142 (역삼동),SK에너지,02-562-4855,Y,1549,1415,1215,-

In [61]:
tmp_raw = []

for file in station_files:
    tmp = pd.read_excel(file, header = 2)
    tmp_raw.append(tmp)

station_raw = pd.concat(tmp_raw)

In [62]:
station_raw

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,지에스칼텍스㈜ 신월주유소,서울 강동구 양재대로 1323 (성내동),GS칼텍스,02-475-2600,N,1615,1415,1219,1000
1,서울특별시,지에스칼텍스㈜ 동서울주유소,서울 강동구 천호대로 1456 (상일동),GS칼텍스,02-426-5372,Y,-,1415,1225,-
2,서울특별시,구천면주유소,서울 강동구 구천면로 357 (암사동),현대오일뱅크,02-441-0536,N,-,1424,1217,-
3,서울특별시,방아다리주유소,서울 강동구 동남로 811 (명일동),SK에너지,02-442-5145,Y,-,1435,1245,975
4,서울특별시,대성석유(주)직영 길동주유소,서울 강동구 천호대로 1168,GS칼텍스,02-474-7222,N,1658,1448,1248,1000
...,...,...,...,...,...,...,...,...,...,...
36,서울특별시,(주)만정에너지,서울 강남구 봉은사로 433 (삼성동),GS칼텍스,02-518-5141,N,2079,1869,1689,1359
37,서울특별시,(주)소모에너지엔테크놀러지 쎈트럴주유소,서울 강남구 삼성로 335 (대치동),GS칼텍스,02-565-0267,N,2067,1883,1689,-
38,서울특별시,뉴서울(강남),서울 강남구 언주로 716 (논현동),SK에너지,02-518-5631,N,2330,2025,1865,-
39,서울특별시,동우주유소,서울특별시 강남구 봉은사로 311 (논현동),SK에너지,02-542-6726,N,-,-,-,-
40,서울특별시,삼성주유소,서울 강남구 삼성로 521 (삼성동),SK에너지,02-538-0809,N,-,-,-,-

In [63]:
stations = pd.DataFrame({
    '이름':station_raw['상호'],
    '주소':station_raw['주소'],
    '가격':station_raw['휘발유'],
    '셀프':station_raw['셀프여부'],
    '상표':station_raw['상표']
})
stations

                       이름                         주소    가격 셀프      상표
0           지에스칼텍스㈜ 신월주유소     서울 강동구 양재대로 1323 (성내동)  1415  N   GS칼텍스
1          지에스칼텍스㈜ 동서울주유소     서울 강동구 천호대로 1456 (상일동)  1415  Y   GS칼텍스
2                  구천면주유소      서울 강동구 구천면로 357 (암사동)  1424  N  현대오일뱅크
3                 방아다리주유소       서울 강동구 동남로 811 (명일동)  1435  Y   SK에너지
4         대성석유(주)직영 길동주유소           서울 강동구 천호대로 1168  1448  N   GS칼텍스
..                    ...                        ...   ... ..     ...
36               (주)만정에너지      서울 강남구 봉은사로 433 (삼성동)  1869  N   GS칼텍스
37  (주)소모에너지엔테크놀러지 쎈트럴주유소       서울 강남구 삼성로 335 (대치동)  1883  N   GS칼텍스
38                뉴서울(강남)       서울 강남구 언주로 716 (논현동)  2025  N   SK에너지
39                  동우주유소  서울특별시 강남구  봉은사로 311 (논현동)     -  N   SK에너지
40                  삼성주유소       서울 강남구 삼성로 521 (삼성동)     -  N   SK에너지

[501 rows x 5 columns]

In [64]:
stations['구'] = [ eachname.split()[1] for eachname in stations['주소']]
stations

                       이름                         주소    가격 셀프      상표    구
0           지에스칼텍스㈜ 신월주유소     서울 강동구 양재대로 1323 (성내동)  1415  N   GS칼텍스  강동구
1          지에스칼텍스㈜ 동서울주유소     서울 강동구 천호대로 1456 (상일동)  1415  Y   GS칼텍스  강동구
2                  구천면주유소      서울 강동구 구천면로 357 (암사동)  1424  N  현대오일뱅크  강동구
3                 방아다리주유소       서울 강동구 동남로 811 (명일동)  1435  Y   SK에너지  강동구
4         대성석유(주)직영 길동주유소           서울 강동구 천호대로 1168  1448  N   GS칼텍스  강동구
..                    ...                        ...   ... ..     ...  ...
36               (주)만정에너지      서울 강남구 봉은사로 433 (삼성동)  1869  N   GS칼텍스  강남구
37  (주)소모에너지엔테크놀러지 쎈트럴주유소       서울 강남구 삼성로 335 (대치동)  1883  N   GS칼텍스  강남구
38                뉴서울(강남)       서울 강남구 언주로 716 (논현동)  2025  N   SK에너지  강남구
39                  동우주유소  서울특별시 강남구  봉은사로 311 (논현동)     -  N   SK에너지  강남구
40                  삼성주유소       서울 강남구 삼성로 521 (삼성동)     -  N   SK에너지  강남구

[501 rows x 6 columns]

### 데이터가 너무 많아! Unique() 검사

In [33]:
stations['구'].unique()

array(['강동구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구',
       '양천구', '영등포구', '강북구', '용산구', '은평구', '종로구', '중구', '중랑구', '강서구',
       '관악구', '광진구', '구로구', '금정구', '금천구', '노원구', '도봉구', '강남구'],
      dtype=object)

In [34]:
stations[stations['구']=='강동구']

                      이름                         주소    가격 셀프      상표    구
0          지에스칼텍스㈜ 신월주유소     서울 강동구 양재대로 1323 (성내동)  1415  N   GS칼텍스  강동구
1         지에스칼텍스㈜ 동서울주유소     서울 강동구 천호대로 1456 (상일동)  1415  Y   GS칼텍스  강동구
2                 구천면주유소      서울 강동구 구천면로 357 (암사동)  1424  N  현대오일뱅크  강동구
3                방아다리주유소       서울 강동구 동남로 811 (명일동)  1435  Y   SK에너지  강동구
4        대성석유(주)직영 길동주유소           서울 강동구 천호대로 1168  1448  N   GS칼텍스  강동구
5        (주)퍼스트오일 코알라주유소  서울특별시 강동구  올림픽로 556 (성내동)  1448  Y   S-OIL  강동구
6      현대오일뱅크㈜직영 명일셀프주유소       서울 강동구 고덕로 168 (명일동)  1448  Y  현대오일뱅크  강동구
7               sk해뜨는주유소      서울 강동구  상일로 132 (강일동)  1455  Y   SK에너지  강동구
8       주)지유에너지직영 오렌지주유소       서울 강동구 성안로 102 (성내동)  1456  N   SK에너지  강동구
9      현대오일뱅크㈜직영 고속셀프주유소           서울 강동구 천호대로 1246  1457  Y  현대오일뱅크  강동구
10     현대오일뱅크㈜직영 암사셀프주유소      서울 강동구 올림픽로 749 (암사동)  1457  Y  현대오일뱅크  강동구
11               천호현대주유소        서울 강동구 천중로 67 (천호동)  1465  N  현대오일뱅크  강동구
12        (주)삼표에너지 고덕주유소        서울 강동구 고덕로 39 (암사동)  1478  N   GS칼텍스  강동구
13  (주)소모에너지엔테크놀러지 성내주유소      서울 강동구 올림픽로 578 (성내동)  1478  Y   GS칼텍스  강동구
14                 광성주유소      서울 강동구 올림픽로 673 (천호동)  1498  N   S-OIL  강동구
15                 강동주유소      서울 강동구 양재대로 1509 (길동)  1893  N   SK에너지  강동구

### 가격이 제대로 기입되지 않은 곳이 있다?

In [65]:
stations[stations['가격']=='-']

                이름                         주소 가격 셀프     상표     구
12           서강주유소       서울 마포구 독막로 134 (창전동)  -  N  SK에너지   마포구
35          전당앞주유소    서울 서초구 남부순환로 2391 (서초동)  -  N  SK에너지   서초구
23          신동방주유소        서울 성북구 월계로 84 (장위동)  -  N  S-OIL   성북구
31           성락주유소     서울 영등포구 가마산로 414 (신길동)  -  Y  S-OIL  영등포구
16           삼융주유소       서울 은평구 수색로 299 (수색동)  -  N  SK에너지   은평구
14  양지진흥개발(주)상계주유소       서울 노원구 노해로 527 (상계동)  -  N  SK에너지   노원구
39           동우주유소  서울특별시 강남구  봉은사로 311 (논현동)  -  N  SK에너지   강남구
40           삼성주유소       서울 강남구 삼성로 521 (삼성동)  -  N  SK에너지   강남구

- 일일히 확인 할 수는 없으니 제외하도록 합시다

In [66]:
stations = stations[stations['가격']!='-']
stations.head(15)

                      이름                         주소    가격 셀프      상표    구
0          지에스칼텍스㈜ 신월주유소     서울 강동구 양재대로 1323 (성내동)  1415  N   GS칼텍스  강동구
1         지에스칼텍스㈜ 동서울주유소     서울 강동구 천호대로 1456 (상일동)  1415  Y   GS칼텍스  강동구
2                 구천면주유소      서울 강동구 구천면로 357 (암사동)  1424  N  현대오일뱅크  강동구
3                방아다리주유소       서울 강동구 동남로 811 (명일동)  1435  Y   SK에너지  강동구
4        대성석유(주)직영 길동주유소           서울 강동구 천호대로 1168  1448  N   GS칼텍스  강동구
5        (주)퍼스트오일 코알라주유소  서울특별시 강동구  올림픽로 556 (성내동)  1448  Y   S-OIL  강동구
6      현대오일뱅크㈜직영 명일셀프주유소       서울 강동구 고덕로 168 (명일동)  1448  Y  현대오일뱅크  강동구
7               sk해뜨는주유소      서울 강동구  상일로 132 (강일동)  1455  Y   SK에너지  강동구
8       주)지유에너지직영 오렌지주유소       서울 강동구 성안로 102 (성내동)  1456  N   SK에너지  강동구
9      현대오일뱅크㈜직영 고속셀프주유소           서울 강동구 천호대로 1246  1457  Y  현대오일뱅크  강동구
10     현대오일뱅크㈜직영 암사셀프주유소      서울 강동구 올림픽로 749 (암사동)  1457  Y  현대오일뱅크  강동구
11               천호현대주유소        서울 강동구 천중로 67 (천호동)  1465  N  현대오일뱅크  강동구
12        (주)삼표에너지 고덕주유소        서울 강동구 고덕로 39 (암사동)  1478  N   GS칼텍스  강동구
13  (주)소모에너지엔테크놀러지 성내주유소      서울 강동구 올림픽로 578 (성내동)  1478  Y   GS칼텍스  강동구
14                 광성주유소      서울 강동구 올림픽로 673 (천호동)  1498  N   S-OIL  강동구

In [69]:
stations['가격']

0     1415.0
1     1415.0
2     1424.0
3     1435.0
4     1448.0
       ...
34    1848.0
35    1868.0
36    1869.0
37    1883.0
38    2025.0
Name: 가격, Length: 493, dtype: float64

In [68]:
stations['가격'] = [ float(value) for value in stations['가격'] ]

<ipython-input-68-0175f10ab0df>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stations['가격'] = [ float(value) for value in stations['가격'] ]

- 25개의 엑셀을 합쳤으므로 index가 중복될 수 있습니다. 그래서 reset_index로 처음부터 인덱싱을 다시!

In [70]:
stations.reset_index(inplace = True)
stations

,index,이름,주소,가격,셀프,상표,구
0,0,지에스칼텍스㈜ 신월주유소,서울 강동구 양재대로 1323 (성내동),1415.0,N,GS칼텍스,강동구
1,1,지에스칼텍스㈜ 동서울주유소,서울 강동구 천호대로 1456 (상일동),1415.0,Y,GS칼텍스,강동구
2,2,구천면주유소,서울 강동구 구천면로 357 (암사동),1424.0,N,현대오일뱅크,강동구
3,3,방아다리주유소,서울 강동구 동남로 811 (명일동),1435.0,Y,SK에너지,강동구
4,4,대성석유(주)직영 길동주유소,서울 강동구 천호대로 1168,1448.0,N,GS칼텍스,강동구
...,...,...,...,...,...,...,...
488,34,갤러리아주유소,서울 강남구 압구정로 426 (청담동),1848.0,N,SK에너지,강남구
489,35,학여울주유소,서울 강남구 남부순환로 3170 (일원2동),1868.0,N,GS칼텍스,강남구
490,36,(주)만정에너지,서울 강남구 봉은사로 433 (삼성동),1869.0,N,GS칼텍스,강남구
491,37,(주)소모에너지엔테크놀러지 쎈트럴주유소,서울 강남구 삼성로 335 (대치동),1883.0,N,GS칼텍스,강남구
492,38,뉴서울(강남),서울 강남구 언주로 716 (논현동),2025.0,N,SK에너지,강남구

- 근데 이러면 Index 열이 새로 생겨버리니까 지워버리자

In [71]:
del stations['index']

In [72]:
stations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 493 entries, 0 to 492
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      493 non-null    object
 1   주소      493 non-null    object
 2   가격      493 non-null    float64
 3   셀프      493 non-null    object
 4   상표      493 non-null    object
 5   구       493 non-null    object
dtypes: float64(1), object(5)
memory usage: 13.5+ KB

In [75]:
stations.to_csv('04. stations.csv', sep=',', encoding = 'utf-8')